{% extends "layout.html" %}

{% block content %}

<span id="projectDict" style="display:none">{{fseString}}</span>

<div id="vue-app">

<div class="content-section">
        <h1> Exam Projects </h1>

</div>

<div class="content-section">

    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >U</th>
              <th scope="col" >Title</th>
              <th scope="col" >Team</th>
              <th scope="col" >Q&A</th>
              <th scope="col" >S&L</th>
              <th scope="col" >RP</th>

            </tr>
        </thead>

        <tbody>
        <template v-for="(proj, key) in projectOBJ" :key="key">
            <tr>
              <td>
              <span @click="goTo(key)" class="unit-span" style="background:silver;padding:3px">
              [[ key ]]
              </span>
              </td>
              <td>
              [[ proj.Title]]
              </td>
            </tr>
           <template v-for="(teams, number) in proj.Teams" >
             <tr>
              <td></td>
              <td> [[ number ]] </td>
              <td> [[ teams.team ]] </td>
              <td>
              <span  class="unit-span" style="background:mediumseagreen;padding:3px"> &nbsp;[[ teams.QNA ]] &nbsp; </span>
              </td>
              <td>
              <span  class="unit-span" style="background:mediumseagreen;padding:3px"> &nbsp;[[ teams.SNL ]]&nbsp; </span>
              </td>
              <td>
              <span  class="unit-span" style="background:mediumseagreen;padding:3px"> &nbsp;[[ teams.RP ]]&nbsp; </span>
              </td>
            </tr>
           </template>

        </template>

        </tbody>

      </table>
    </div>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var projectDict = document.getElementById('projectDict').innerHTML
console.log('projectDict', projectDict);
var OBJ = JSON.parse(projectDict)
console.log('projectDict', OBJ);


startVue(OBJ)

function startVue(OBJ){ new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
        console.log('projectDict', OBJ);
    },
    data: {
        projectOBJ: OBJ,
    },
    methods: {
        goTo: function(key) {

          // go to HTTPS version
          var str = window.location.href

          let url = (str).split('_dash')[0] + '_check/' + key
          console.log('goTO', url);
            window.location = url
            console.log('DONE');
        }

    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

