{% extends "layout.html" %}

{% block content %}

<span id="ansDict" style="display:none">{{ansDict}}</span>
<span id="testDict" style="display:none">{{testDict}}</span>
<span id="teamMembers" style="display:none">{{teamMembers}}</span>

<div class="content-section">
        <h1> Project: {{meta.Title}} </h1>
</div>

<div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{meta.M2}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	    </iframe>
    </div>
</div>

<div id="vue-app">

<div class="content-section">
        <legend class="border-bottom mb-4">Team [[team]] </legend>
        <template>
		<table align="center">
                        <th scope="col" v-for="(member, key) in teamOBJ" >
				<img class="rounded-circle chat-img" :src="member">
				<br>
				[[ key ]]
			</th>
		</table>
        </template>
</div>




<div class="content-section">

<legend class="border-bottom mb-4"> Your Q&A List: </legend>

<template v-for="(item, key) in ansOBJ">

<span @click="editMarkers(key)" class="unit-span" :style="qStyle(key)"> &emsp;&emsp;Q[[ key ]]&emsp;&emsp; </span>
<br>
<br>

<h6  v-if="item.question"> Q: [[ item.question ]] </h6>
<h6  v-if="item.answer"> A: [[ item.answer ]] </h6>
<h6  v-if="item.user"> By [[ item.user ]] </h6>
<br>
        <div v-if="marker[key] == 3">
                <h5>  Edit Q&A [[key]] </h5>
                Writer: <span :id="key + 'w'" name="writer"> {{current_user.username}} </span>
                <br>
                <br>
                Question
                <br>
                <textarea :id="key + 'q'" class="textAss"  v-model="testOBJ[key]['question']"></textarea>
                <br>
                Answer
                <br>
                <textarea :id="key + 'a'" class="textAss"  v-model="testOBJ[key]['answer']"></textarea>
                <div>
                <button  class="btn btn-warning" @click="storeData(key)">Add Q&A</button>
                </div>


        <div>

<br>
</template>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>

var ansString = document.getElementById('ansDict').innerHTML
var ansOBJ = JSON.parse(ansString)
console.log('ansOBJ', ansOBJ);

var testString = document.getElementById('testDict').innerHTML
var testOBJ = JSON.parse(testString)
console.log('testOBJ', testOBJ);

var teamMembers = document.getElementById('teamMembers').innerHTML
var teamOBJ = JSON.parse(teamMembers)
console.log('teamOBJ', teamOBJ);

const mode = (window.location.href).split('/fse/')[1].split('/')[0]
const unit = (window.location.href).split('/fse/')[1].split('/')[1]
const team = (window.location.href).split('/fse/')[1].split('/')[2]
console.log(mode, unit, team);


startVue()

function startVue(){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function () {
        setInterval(function(){
            vue.updateAnswers()
        }, 15000)
        setTimeout(function(){
           vue.checkMarkers()
        }, 2000);
    },
    data: {
        ansOBJ: ansOBJ,
        teamOBJ: teamOBJ,
        testOBJ: testOBJ,
        mode: mode,
        unit: unit,
        team: team,
        marker:{ // 1 =
            1 : 1,
            2 : 1,
            3 : 1,
            4 : 1,
            5 : 1,
            6 : 1,
        },
        buttonColor:{
            3 : {background: 'dodgerblue', padding: '5px'},
            2 : {background: 'mediumseagreen', padding: '5px'},
            1 : {background: 'lightcoral', padding: '5px'}
        }
    },
    methods: {
        editMarkers : function(question) {
            if (this.marker[question] == 3 ) {
                this.checkMarkers()
            }
            else{
                this.checkMarkers()
                this.marker[question] = 3
                let testString = JSON.stringify(this.ansOBJ[question])
                this.testOBJ[question] = JSON.parse(testString)
            }
        },
        resetMarkers : function(q) {
            for (var mark in vue.marker) {
                if (vue.marker[mark] == 3){
                    console.log(vue.ansOBJ, vue.ansOBJ[q])
                    if (mark == q) {
                        alert('Question updated by ' + vue.ansOBJ[q]['user'])
                    }
                }
            }
        },
        checkMarkers : function() {
            for (var mark in vue.marker) {
                if (this.ansOBJ[mark]['user']){
                    vue.marker[mark] = 2
                }
                else {
                    vue.marker[mark] = 1
                }
            }
        },
        qStyle : function(key) {
            return this.buttonColor[this.marker[key]]
        },
        updateAnswers : function() {
            console.log('update via AJAX');

            $.ajax({
              data : {
                unit : this.unit,
                team : this.team,
                mode : this.mode,
              },
              type : 'POST',
              url : '/FSEupdateAnswers',
            })
            .done(function(data) {
                var newOBJ = JSON.parse(data.ansString)
                for (var q in vue.ansOBJ){
                    if (   JSON.stringify(newOBJ[q]) != JSON.stringify(vue.ansOBJ[q])   ){
                        //alert(JSON.stringify(newOBJ[q]))
                        vue.ansOBJ = newOBJ
                        vue.resetMarkers(q)
                    }
                }
            })
            .fail(function(){
                console.log('error has occurred');
            });
        },
        storeData : function(key) {
            //reset the testOBJ
            this.testOBJ = testOBJ

            this.ansOBJ[key]['user'] = document.getElementById(key + 'w').innerHTML
            this.ansOBJ[key]['answer'] = document.getElementById(key + 'a').value
            this.ansOBJ[key]['question'] = document.getElementById(key + 'q').value
            //console.log(this.ansOBJ);

            this.checkMarkers()

            $.ajax({
              data : {
                unit : this.unit,
                team : this.team,
                mode : this.mode,
                ansOBJ : JSON.stringify(this.ansOBJ),
                question : key
              },
              type : 'POST',
              url : '/FSEstoreAnswer',
            })
            .done(function(data) {
                console.log(data);
                vue.updateAnswers()
                vue.checkMarkers()
            })
            .fail(function(){
                alert('error - see instructor')
            });
        }

    }, // end methods

})// end NEW VUE

}// endFunction

</script>

{% endblock %}

