{% extends "layout.html" %}

{% block content %}

<span id="ansDict" style="display:none">{{ansDict}}</span>
<span id="testDict" style="display:none">{{testDict}}</span>
<span id="teamMembers" style="display:none">{{teamMembers}}</span>

<div class="content-section">
        <h1> Project: {{meta.Title}} </h1>
</div>

<div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{meta.M2}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	    </iframe>
    </div>
</div>

<div id="vue-app">

<div class="content-section">
        <legend class="border-bottom mb-4">Team [[team]] </legend>
        <template>
		<table align="center">
                        <th scope="col" v-for="(member, key) in teamOBJ" >
				<img class="rounded-circle chat-img" :src="member">
				<br>
				[[ key ]]
			</th>
		</table>
        </template>
</div>

<div class="content-section">
        <legend class="border-bottom mb-4">Audio </legend>
        <template>
        <div>
        <audio id="rpAudio" controls>
        </div>

        <br>
            <div>

            <input type="file" id="audio" accept="audio/*,video/*" @change="audioValidation()"> </input> <button class="btn btn-secondary btn-sm"> Select </button>
            </div>
            <br>
            <div v-if="audio64['fileType']">
            <button  class="btn btn-danger btn-sm" @click="storeB64()">Upload</button>
            </div>



        </template>
</div>


<div class="content-section">

<legend class="border-bottom mb-4"> Your Role Play Questions: </legend>

<template v-for="(item, key) in ansOBJ">
<div v-if="key != 'audio'">
    <span @click="editMarkers(key)" class="unit-span" :style="qStyle(key)"> &emsp;&emsp;Q[[ key ]]&emsp;&emsp; </span>
    <br>
    <br>

    <h6  v-if="item.question"> Q: [[ item.question ]] </h6>
    <!-- <h6  v-if="!(item.answer).indexOf(null)"> A: [[ item.answer ]] </h6> -->
    <h6  v-if="item.writer"> By [[ item.writer ]] </h6>
    <br>
            <div v-if="marker[key] == 3">
                    <h5>  Edit Q&A [[key]] </h5>
                    Writer: <span :id="key + 'w'" name="writer"> {{current_user.username}} </span>
                    <br>
                    <br>
                    Question
                    <br>
                    <textarea :id="key + 'q'" class="textAss"  v-model="testOBJ[key]['question']"></textarea>
                    <br>
                    Correct Answer
                    <br>
                    <input :id="key + 'a1'" class="textAss"  v-model="testOBJ[key]['answer'][0]"></input>
                    <br>
                    Wrong Answer
                    <br>
                    <input :id="key + 'a2'" class="textAss"  v-model="testOBJ[key]['answer'][1]"></input>
                    <br>
                    Wrong Answer
                    <br>
                    <input :id="key + 'a2'" class="textAss"  v-model="testOBJ[key]['answer'][2]"></input>
                    <br>
                    <br>
                    <div>
                    <button  class="btn btn-warning" @click="storeData(key)">Add Q&A</button>
                    </div>
            <div>
    <br>
</div>
</template>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>

var ansString = document.getElementById('ansDict').innerHTML
var ansOBJ = JSON.parse(ansString)
console.log('ansOBJ', ansOBJ);

var testString = document.getElementById('testDict').innerHTML
var testOBJ = JSON.parse(testString)
console.log('testOBJ', testOBJ);

var teamMembers = document.getElementById('teamMembers').innerHTML
var teamOBJ = JSON.parse(teamMembers)
console.log('teamOBJ', teamOBJ);

const mode = (window.location.href).split('/fse/')[1].split('/')[0]
const unit = (window.location.href).split('/fse/')[1].split('/')[1]
const team = (window.location.href).split('/fse/')[1].split('/')[2]
console.log(mode, unit, team);


startVue()

function startVue(){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function () {
        setInterval(function(){
            vue.updateAnswers()
        }, 15000)
        setTimeout(function(){
           vue.checkMarkers()
        }, 2000);
    },
    data: {
        ansOBJ: ansOBJ,
        teamOBJ: teamOBJ,
        testOBJ: testOBJ,
        mode: mode,
        unit: unit,
        team: team,
        marker:{
            1 : 1,
            2 : 1,
            3 : 1
        },
        buttonColor:{
            3 : {background: 'dodgerblue', padding: '5px'},
            2 : {background: 'mediumseagreen', padding: '5px'},
            1 : {background: 'lightcoral', padding: '5px'}
        },
        audio64 : {
            fileType : null,
            base64 : null,
        }
    },
    methods: {
        editMarkers : function(question) {
            if (this.marker[question] == 3 ) {
                this.checkMarkers()
            }
            else{
                this.checkMarkers()
                this.marker[question] = 3
                let testString = JSON.stringify(this.ansOBJ[question])
                this.testOBJ[question] = JSON.parse(testString)
            }
        },
        resetMarkers : function(q) {
            for (var mark in vue.marker) {
                if (vue.marker[mark] == 3){
                    if (mark == q) {
                        alert('Your team member has just edited this question')
                        vue.marker[mark] = 2
                    }
                    else {
                        console.log('Your team mate just updated question ' + mark)
                    }
                }
                else {
                    vue.marker[mark] = 2
                }
            }
        },
        checkMarkers : function() {
            for (var mark in vue.marker) {
                if (this.ansOBJ[mark]['writer']){
                    vue.marker[mark] = 2
                }
                else {
                    vue.marker[mark] = 1
                }
            }
        },
        qStyle : function(key) {
            return this.buttonColor[this.marker[key]]
        },
        updateAnswers : function() {
            console.log('update via AJAX');

            $.ajax({
              data : {
                unit : this.unit,
                team : this.team,
                mode : this.mode,
              },
              type : 'POST',
              url : '/FSEupdateAnswers',
            })
            .done(function(data) {
                var newOBJ = JSON.parse(data.ansString)
                for (var q in vue.ansOBJ){
                    if (   JSON.stringify(newOBJ[q]) != JSON.stringify(vue.ansOBJ[q])   ){
                        //alert(JSON.stringify(newOBJ[q]))
                        vue.ansOBJ = newOBJ
                        vue.resetMarkers(q)
                    }
                }
            })
            .fail(function(){
                console.log('error has occurred');
            });
        },
        storeData : function(key) {
            this.ansOBJ[key]['writer'] = document.getElementById(key + 'w').innerHTML
            this.ansOBJ[key]['answer'] = [document.getElementById(key + 'a1').value, document.getElementById(key + 'a2').value, document.getElementById(key + 'a3').value].toString()
            this.ansOBJ[key]['question'] = document.getElementById(key + 'q').value
            //console.log(this.ansOBJ);

            console.log(this.ansOBJ.values);
            //reset the testOBJ
            this.testOBJ = testOBJ
            this.checkMarkers()

            var total = 0
            for (var mark in this.marker){
                total += this.marker[mark]
            }
            console.log(total);

            $.ajax({
              data : {
                unit : this.unit,
                team : this.team,
                mode : this.mode,
                ansOBJ : JSON.stringify(this.ansOBJ),
                question : key,
                total : total
              },
              type : 'POST',
              url : '/FSEstoreAnswer',
            })
            .done(function(data) {
                console.log(data);
                alert('Question ' + data.question + ' updated')
                vue.updateAnswers()
            })
            .fail(function(){
                alert('error - see instructor')
            });
        },
        storeB64 : function() {
            var total = 0
            this.checkMarkers()
            for (var mark in this.marker){
                console.log(mark, this.marker, this.marker[mark]);
                total += this.marker[mark]
            }
            if (total > 6){
                // because if edit is open the mark will 3 instead of two
                total = 6
            }
            console.log(total);

            var b64data = this.audio64['base64']
            var fileType = null
            var mode = 'rp'
            var b64 = 'rp'

            $.ajax({
              data : {
                unit : this.unit,
                team : this.team,
                mode : mode,
                b64data : b64data,
                fileType : fileType,
                b64 : b64,
                question : 1,
                total : total
              },
              type : 'POST',
              url : '/FSEstoreB64',
            })
            .done(function(data) {
                console.log(data);
            })
            .fail(function(){
                alert('error - see instructor')
            });
        },
        audioValidation : function(){
            var fileInput = document.getElementById('audio');
            console.log('file', fileInput)
            var filePath = fileInput.value;
            var allowedExtensions = /(\.mp3|\.m4a|\.m4v|\.mov|\.mp4)$/i;

            if(fileInput.files[0].size > 50000000){
                alert("File is too big!");
                location.reload()
                return false;
            }
            else if(!allowedExtensions.exec(filePath)){
                alert('Please upload audio file: .mp3/.m4a only.');
                fileInput.value = '';
                return false;
            }
            else{
                console.dir( fileInput.files[0] );
                var url = window.URL.createObjectURL(fileInput.files[0]);
                fetch(url)
                .then(function(res){
                    return res.blob();
                    })
                .then(function(savedBlob){

                var reader = new FileReader();
                reader.readAsDataURL(savedBlob);
                reader.onloadend = function() {
                        vue.audio64['base64'] = reader.result.split(',')[1];
                        vue.audio64['fileType'] = true
                    }
                })// end then function
            }//end else
        },//end audioValidation
        playAudio : function(key){
            player = document.getElementById('rpAudio')
            player.src = ansOBJ['audio']
            player.load()
        },

    }, // end methods

})// end NEW VUE

}// endFunction

</script>

{% endblock %}

