{% extends "layout.html" %}

{% block content %}

<div id="vue-app">

<div class="content-section">
        <h1> Exam: {{ title }}  </h1>

</div>

<div class="content-section">

    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >No.</th>
              <th scope="col" >Audio</th>
              <th scope="col" >Answer</th>
            </tr>
        </thead>

        <tbody>
        <template v-for="(answerSet, key) in snlOBJ" >

            <tr>
              <td style="width: 40%; word-wrap: break-word">
               <div align="center" style="background:darkgreen; padding:3px; width:100%">
               <h3 style="color:white" >[[ key ]]</h3>
               </div>

                <span v-if="grade < 6"> [[  answerSet['word']  ]] <br> </span>
                <span v-if="grade < 5"> [[  answerSet['sentence']  ]] <br> </span>
                <img class="rounded img-fluid" alt="No file yet" style="width: 100%"  :src="answerSet.imageLink">
                <br>
                <br>
              </td>
              <td style="background:lightgrey">
              <div align="center">
                <audio controls style="width: 150px">
                 <source :src="orderOBJ[key][1]" type="audio/mpeg" >
                 <source :src="orderOBJ[key][1]" type="audio/x-m4a" >
                </audio>
              </div>
              </td>
              <td style="background:lightgrey">
                <select style="height:50px;width:50px;color:white;background:royalblue" :id="orderOBJ[key][0]" name="listening">
                  <option value="0">--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </td>
            </tr>
        </template>

        </tbody>
      </table>

      <button class="btn btn-warning" @click="submitSNL()"> Submit </button>
    </div>

</div>



</div> <!-- end of Vue app -->


<span id="qnaString" style="display:none">{{qnaString}}</span>
<span id="snlString" style="display:none">{{snlString}}</span>
<span id="orderString" style="display:none">{{orderDict}}</span>

{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var qnaString = document.getElementById('qnaString').innerHTML
var qnaOBJ = JSON.parse(qnaString)
console.log('Dict', qnaOBJ);

var snlString = document.getElementById('snlString').innerHTML
var snlOBJ = JSON.parse(snlString)
console.log('Dict', snlOBJ);

var order = document.getElementById('orderString').innerHTML
var orderOBJ = JSON.parse(order)
console.log('Order', orderOBJ);

var str = window.location.href
var browser_info = str.split('snl/')[1]
var unit = browser_info.split('/')[0]
var team = browser_info.split('/')[1]
console.log(unit, team);


startVue()

function startVue(){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
      //resort snlOBJ

    },
    data: {
        qnaOBJ: qnaOBJ,
        snlOBJ: snlOBJ,
        orderOBJ: orderOBJ,
        errorCount : 0,
        grade : 6
    },
    methods: {
        goTo: function(key, state) {

          var str = window.location.href

          let url = str.split('fse_exam')[0] + 'fse_list'
          console.log('goTO', url);
            window.location = url
            console.log('DONE');
        },
        submitSNL: function() {
          //check if dropdown answers match
          for (var object in vue.snlOBJ){
            console.log(object, vue.orderOBJ);
            console.log(vue.orderOBJ[object][0]);
            var dropdown = vue.orderOBJ[object][0] //
            var e = document.getElementById(dropdown)
            if (e.options[e.selectedIndex].value != vue.orderOBJ[object][0] ) {
              e.setAttribute('style', 'height:50px;width:50px;color:white;background:coral')
              vue.errorCount += 1
              console.log(vue.errorCount);
              }
            else {
              e.setAttribute('style', 'height:50px;width:50px;color:white;background:mediumseagreen')
            }
          }
          if (vue.errorCount > 0){
              alert('Sorry, you have ' + vue.errorCount + ' incorrect answers. Please try again')
              vue.errorCount = 0
              if (vue.grade > 0 ){
                vue.grade -= 1
              }
          }
          else{
              alert('Great, all answer are correct - your grade will be updated')
              vue.updateGrades()
          }
        },
        updateGrades: function() {

          $.ajax({
              data : {
                qORs : 'snl',
                unit : unit,
                team : team,
                grade : vue.grade
              },
              type : 'POST',
              url : '/updateGrades',
            })
            .done(function(data) {
              alert('Grade Updated')
              vue.goTo()
            })
            .fail(function(){
                alert('error has occurred');
            });
    },
    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

