{% extends "layout.html" %}

{% block content %}

<div id="vue-app">

<span id="ansString" style="display:none">{{ansString}}</span>

<div class="content-section">
     <legend class="border-bottom mb-4">Grades</legend>


    <br>
    <br>
    <div style="overflow-x:auto;width:80%">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >13</th>
              <th scope="col" >14</th>
              <th scope="col" >15</th>
              <th scope="col" >Name</th>
              <th scope="col" >16</th>
              <th scope="col" >17</th>
              <th scope="col" >18</th>

            </tr>
        </thead>

        <tbody>
        <template v-for="(user, key) in gradesOBJ">
            <tr>
              <td v-if="!excluded.includes(key)" v-for="(data, head) in user" > <span v-for="item, head in data" :style="getStyle(head, item, key, data)" @click="setStatus(head, key)"> [[head]]: [[item]] <br> </span> </td>
            </tr>
        </template>
        </tbody>



      </table>
    </div>

</div>



</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var ansString = document.getElementById('ansString').innerHTML
var gradesOBJ = JSON.parse(ansString)
console.log('OBJ', gradesOBJ);


startVue()

function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){

    },
    data: {
        gradesOBJ: gradesOBJ,
        excluded: ['Chris', 'Test', 'Jane', 'Michelle', 'Kevin', 'Wayne123', 'Penny']


    },
    methods: {
        setStatus: function(head, key) {
          if (head == 'Status') {
            $.ajax({
              data : {
                username : key,
              },
              type : 'POST',
              url : '/setStatus',
            })
            .done(function(data) {
              gradesOBJ[key]['Student']['Status'] = data.set
            })
            .fail(function(){
                alert('error has occurred');
            });
          }

        },
        updateGrade: function(name, head, data) {
          if (name == 'Cyan') {
            console.log(head, data)
          }
          if (!gradesOBJ[name]['Student'][head + 'G']) {
            gradesOBJ[name]['Student'][head + 'G'] = 0
          }

          if (data[head+'_grades']) {
            for ( let x in data[head+'_grades'] ) {
              gradesOBJ[name]['Student'][head + 'G'] += parseInt(data[head+'_grades'][x])
            }
          }
        },
        getStyle: function(head, item, name, data) {
          if (head == 'QNA') {
            this.updateGrade(name, head, data)
            if (item > 5){
                return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'SNL') {
            this.updateGrade(name, head, data)
            if (item > 5){
                return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'RP') {
            this.updateGrade(name, head, data)
            if (item > 3){
                return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'QNAG') {
            if (item > 53){
                return { background:'aqua'}
            }
            else if (item > 40){
                return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'SNLG') {
            if (item > 47){
                return { background:'aqua'}
            }
            else if (item > 36){
                return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'RPG') {
            if (item > 35){
                return { background:'aqua'}
            }
            else if (item > 25){
                return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'SNL_check') {
            if (item > 0){
              return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'RP_check') {
            if (item > 0){
              return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'QNA_check') {
            if (item > 0){
              return { background:'mediumseagreen'}
            }
            else{
              return { background:'lightcoral'}
            }
          }
          if (head == 'QNA_grades' || head == 'SNL_grades' || head == 'RP_grades') {
            //return { background:'white', color:'white'}
            if (item.length > 2){
              return { background:'aqua'}
            }
            if (item.length > 1){
              return { background:'mediumspringgreen'}
            }
            else if (item.length > 0){
              return { background:'gold'}
            }
            else{
              return { display:'inline-block', background:'lightcoral'}
            }
          }
          if (head == 'Status') {
            if (item == 3){
                return { background:'mediumseagreen', display: 'inline-block', padding:'20px'}
            }
            else{
              // display: 'inline-block'
              return { display:'inline-block', background:'lightcoral', padding:'20px'}
            }
          }
          if (head == 'name') {

            if (item == 3){
                return { background:'mediumseagreen', display: 'inline-block', padding:'20px'}
            }
            else{
              // display: 'inline-block'
              return { background:'gold'}
            }
          }

        },
    }

})// end NEW VUE



}// endFunction

</script>


{% endblock %}

