{% extends "layout.html" %}

{% block content %}

<span id="ansDict" style="display:none">{{ansDict}}</span>
<span id="username" style="display:none">{{current_user.username}}</span>
<span id="teamMembers" style="display:none">{{teamMembers}}</span>

<div class="content-section">    
        <h1> Project: {{meta.Title}} </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{meta.M1}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div>   
    
</div>

<div id="vue-app"> 

<div class="content-section">
        <legend class="border-bottom mb-4">Team [[team]] </legend>
        <template> 
		<table align="center">                
                        <th scope="col" v-for="(member, key) in teamOBJ" >				
				<img class="rounded-circle chat-img" :src="member">
				<br>
				[[ key ]]				
			</th>   
		</table>
        </template>     
</div>


<div class="content-section">
<legend class="border-bottom mb-4">Prepare Word </legend>

<input type="file" id="image" accept="image/*" @change="imageValidation()"> </input> <button class="btn btn-secondary btn-sm"> Upload Image </button>
<br>
<div v-if="base64data['fileType']">
<span style="color:red"> Image Ready </span>
</div>
<br>

Speaker: 
<input id="user" type="text" class="textAss" style="margin-left:5px" value="{{current_user.username}}"></input> 
<br>
<br>

Word: 
<input id="word" type="text" class="textAss" style="margin-left:5px" v-on:blur="updateWord()"></input> 
<br>
<br>

Sentence:
<textarea id="sentence" class="textAss" v-on:blur="updateWord()"></textarea> 
<br>
<br>

Rec:
<span> [[notice]]</span>
<div style="background:papayawhip;width:100px;border:1px sold white; border-radius:5px" @click="showUpload('up')">
    <span style="padding:5px; font-size:12px" justify="right"> Rec Problems? </span>
</div> 
<br>
<div>                              
 <audio id="handler" ref="player" controls autoplay></audio> 
</div>
<br>
<span v-if="base64data['audio_64']" style="color:red"> Audio Ready </span>

<template v-if="show[1]">

    <div style="display:flex" > 
            <div  v-if="rec1.start">				
                <button  class="btn btn-success" @click="start(1)" >Start</button>
            </div> 
            <div  v-if="rec1.stop">				
                <button  class="btn btn-danger" @click="stop(1)" >Stop</button>
            </div>             
            <div  v-if="rec1.cancel" flex="0.5">				
                <button  class="btn btn-secondary" @click="cancel(1)">Cancel/Redo</button>
            </div> 
            <div  v-if="base64data['audio_b64']" >     
                <button type="button" class="btn btn-dark" style="margin-left:5px" @click="playAudio('0')">Test Listen</button>	
            </div>
    </div>  

    <br>
    <div v-if="rec1.timer" :style="rec1.t_style">
        <span class="ml-2" style="color:white" > [[ rec1.count ]] </span>
    </div> 
    <br> 
</template>

<div v-if="upload">
    <div class="content-section">
        <p>If you have an Android phone and you cannot record, please first check your microphone permissions or try a different browser.</p> 

        <p>If you are using iOS, recording should work for IOS 11+ on iPhones. Older versions and iPads may not work, please upload or share a link.</p>
         <div style="background:mediumseagreen;width:100px;border:1px sold white; border-radius:5px" @click="showUpload('rec')">
                <span style="padding:5px; font-size:12px" justify="right"> Try Recording </span>
        </div> 
    </div>
    
        <div class="content-section">       
            <h6> Upload files from phone </h6>
                <div class="">                      
                    <label class="btn btn-secondary btn-info" style="margin-left:10px">
                        <input  type="file" name="options" :id="uploadBTN[1][0]" @change="fileValidation(1)" > Upload File  <!--accept=audio removed-->
                    </label>
                </div> 
        </div> 
</div>  <!-- end of upload -->

<div v-if="addReady">				
    <button  class="btn btn-dark" style="margin-right:5px" @click="addWord(1)">Add Word</button>
</div> 

</div> 

<div class="content-section">
        <legend class="border-bottom mb-4">Words
        <span style="padding:5px; font-size:12px;background:papayawhip;width:100px;border:1px sold white; border-radius:5px" justify="right" @click="deleteWord('0')"> Refresh Words </span> 
        <span style="padding:5px; font-size:12px;background:silver;width:100px;border:1px sold white; border-radius:5px" justify="right" @click="editor()"> Delete Words </span>
        </legend>

    <template v-for="(ans, key) in ansOBJ">
        <h4 style="display:inline-block"> [[key]] </h4>
        <div v-if="edit">
        <span style="padding:5px; font-size:12px;background:lightcoral;width:100px;border:1px sold white; border-radius:5px" justify="right" @click="deleteWord(key)"> Delete [[ key ]] </span>
        </div>
        <br>
        <img class="rounded img-fluid" id="final_image" alt="No file yet" style="max-width:80%"  :src="ansOBJ[key]['imageLink']">
        <br>
        <br>        
        <h6> Sentence: [[ans.sentence]] </h6>
        <h6> Speaker: [[ans.user]] </h6>
        <div>                              
            <audio id="" controls :src="ansOBJ[key]['audioLink']"></audio> 
        </div>        
       
        <br>

    </template>

</div>




</div> <!-- end of Vue app -->



{% endblock %}

{% block script %} 
<script type="text/javascript" src="{{url_for('static', filename= 'js/Mp3LameEncoder.js')}}"></script> 
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/abc_snl.js')}}"></script>  
{% endblock %} 


      
    
  
 