{% extends "layout.html" %}

{% block content %}

<span id="user" style="display:none">{{current_user.username}}</span>

<div id="vue-app">

<div class="content-section">
        <h1> Exam Projects </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div>

</div>

<div class="content-section">

<legend class="border-bottom mb-4"> Your Score: </legend>

<h4 style="color:red;display:none"> Deadline June 1 </h4>


</div>

<div class="content-section">
  <legend class="border-bottom mb-4"> Your Project: </legend>

    <div style="display:none">
      <button  class="btn btn-danger" @click="goTo('RR')">Restaurant Review</button>
    </div>

    <div>
      <button  class="btn btn-danger" @click="goTo('ND')">National Dish</button>
    </div>

    <div>
      <button  class="btn btn-danger" @click="goTo('CV')">Cooking Video</button>
    </div>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

//var projectDict = document.getElementById('projectDict').innerHTML
//var OBJ = JSON.parse(projectDict)
//console.log('projecDict', OBJ);


startVue()

function startVue(){ new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
    },
    data: {
        //projectOBJ: OBJ,
    },
    methods: {
        goTo: function(proj) {

          let name = document.getElementById('user').innerHTML

          if (proj == 'ND') {
            var link = '/ND'
          }
          else if (proj == 'CV') {
            var link = '/CV'
          }
          else {
            var link = '/RR'
          }
          // go to HTTPS version
          var str = window.location.href

          let url = (str).split('_list')[0] + link
          console.log('goTO', url);
            window.location = url
            console.log('DONE');
        }

    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

