{% extends "layout.html" %}

{% block content %}

<span id="user" style="display:none">{{current_user.username}}</span>
<span id="link" style="display:none">{{link}}</span>
<span id="grade" style="display:none">{{grade}}</span>

<div id="vue-app">

<div class="content-section">
        <h1> Exam Projects </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div>

</div>


<div class="content-section">
  <legend class="border-bottom mb-4"> Your Project: </legend>

    {% if MTFN == 'MT' %}

    <div>
      <button  class="btn btn-danger" @click="goTo('RR')">Restaurant Review</button>

      <br>
      <br>

      <a href="https://drive.google.com/file/d/1o0ytGXkckthDF5_uM7BJrGY2WAZQ4s_n/view?usp=sharing" target="_blank"> How to use screen recorder on Windows </a>

      <br>
      <br>
      Macbook use Quicktime

      <br>
      <br>

      <a href="https://drive.google.com/file/d/1vFHY0kGLKFym69GICDxZOzaAfDOfmQyt/view?usp=sharing" target="_blank"> Example Student Video </a>

      <br>
      <br>
      Note 1 : You can see the student and ppt with key words and pictures <br>
      Note 2 : You hear the student clearly (check our microphone is loud enough) <br>
      Note 3 : The student is presenting and not just reading <br>
      <br>
      * students who are reading will have their video rejected <br>
      ** it is very easy to know who is just reading so practice more <br>
      *** Any problems, contact instructor for help  <br>

      <br>
      <br>

      Youtube Link (Deadline Target June 10 - or send me message): <br>


      <input type="text" id="fname" v-model="link" name="fname">
      <br>
      <br>
      <button  class="btn btn-danger" @click="share()">Share Youtube Link</button>

      <br>
      <br>

      <div style="display:none">

      <button  class="btn btn-info" @click="goTo('sharing')">Start Sharing</button>
      </div>

    </div>

    {% elif MTFN == 'EDIT' %}

    <h5 style="color:red"> Update Part 1 (Mar 15)
    <br>
    <br>
    Update Plan  (Mar 22)
    <br>
    <br>
    15/30%
    <br>
    <br>
    </h5>

    <div >
      <button  class="btn btn-danger" @click="goTo('ND')">National Dish</button>
    </div>

    <br>
    <br>

    <div >
      <button  class="btn btn-danger" @click="goTo('CV')">Cooking Video</button>
    </div>

    {% else %}

    Project not set yet

    {% endif %}

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var link = document.getElementById('link').innerHTML
console.log('link', link);
var grade = parseInt(document.getElementById('grade').innerHTML)
console.log('grade', grade);


startVue()

function startVue(){ new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
    },
    data: {
        link: link,
        grade: grade
    },
    methods: {
        goTo: function(proj) {

          if (proj == 'sharing' && this.grade < 6) {
            alert('Sharing will be open from week 17 and only after your writing and video have been checked and approved - please contact your instructor if you have any questions')
            return false
          }

          let name = document.getElementById('user').innerHTML

          var link = '/'

          link += proj

          // go to HTTPS version
          var str = window.location.href

          let url = (str).split('_list')[0] + link
          console.log('goTO', url);
            window.location = url
            console.log('DONE');
        },
        share : function() {

          $.ajax({
            data : {
              link : this.link
            },
            type : 'POST',
            url : '/updateLink',
          })
          .done(function(data) {
              alert('Your LINK has been updated')
          })
          .fail(function(){
              alert('error has occurred');
          });
      },


    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

