{% extends "layout.html" %}

{% block content %}

<div class="content-section noselect">
    <h1> Homepage </h1>
</div>

{% if current_user.schema == 2 and current_user.wpe == 1 %}
<div class="content-section" style="background:crimson">
    <h1 style="color:white"> Please collect and/or pay for textbook </h1>
</div>
{% endif %}

{% if current_user.schema == 1 and current_user.frd == 1 %}
<div class="content-section" style="background:crimson">
    <h1 style="color:white"> Please collect and/or pay for textbook </h1>
</div>
{% endif %}

<div class="content-section">

{% if current_user.frd == 2 and current_user.schema != 1 %}
<a style="color:white;background:MEDIUMSEAGREEN" class="btn" href="{{ url_for ('change', schema=1) }}">FRD</a>
{% endif %}
{% if current_user.wpe == 2 and current_user.schema != 2 %}
<a style="color:white;background:CORAL" class="btn" href="{{ url_for ('change', schema=2) }}">WPE</a>
{% endif %}
{% if current_user.icc == 1 and current_user.schema != 3 %}
<a style="color:white;background:DODGERBLUE" class="btn" href="{{ url_for ('change', schema=3) }}">ICC</a>
{% endif %}
{% if current_user.lnc == 1 and current_user.schema != 5 %}
<a style="color:white;background:REBECCAPURPLE" class="btn" href="{{ url_for ('change', schema=5) }}">LNC</a>
{% endif %}
{% if current_user.png == 1 and current_user.schema != 4 %}
<a style="color:white;background:REBECCAPURPLE" class="btn" href="{{ url_for ('change', schema=4) }}">PENG</a>
{% endif %}
{% if current_user.app == 1 and current_user.schema != 8  %}
<a style="color:white;background:steelblue" class="btn" href="{{ url_for ('change', schema=8) }}">APP</a>
{% endif %}
{% if current_user.app == 1 and current_user.schema != 6  %}
<a style="color:white;background:gold" class="btn" href="{{ url_for ('change', schema=6) }}">DUB</a>
{% endif %}
</div>


<div class="content-section">
    <legend class="border-bottom mb-4">Chat Box</legend>
    <br>
    <form method="POST" action="">
            {{ form.hidden_tag () }}
        <fieldset class="form-group">
                <div style="display:none">
                    <div class="form-group">
                        {{ form.name.label (class="form-control-label")}}</br>
                        {{ form.name(class="form-control form-control-lg", id="name")}}
                    </div>
                    <div class="form-group">
                        {{ form.response.label (class="form-control-label")}}</br>
                        {{ form.response(class="form-control form-control-lg")}}
                    </div>
                    <div>
                       <input id="lastChat" value="{{chat}}">
                    </div>
                </div>


            {% for dialogue in dialogues %}

                {% if dialogue.chat == "" %}
                </p>
                {% else %}
                <img class="rounded-circle chat-img" src="{{image_file}}"> {{ current_user.username}}: {{dialogue.chat}}
                </p>
                {% endif %}

                {% if dialogue.response == "" %}
                </p>
                {% else %}
                <img class="rounded-circle chat-img" src="{{image_chris}}"> Chris: {{dialogue.response}}
                </p>
                {% endif %}
            {% endfor %}
                <div id="newMessage">
                </p>
                <img class="rounded-circle chat-img" src="{{image_chris}}"> Chris: <text id="messText"></text>
                </p>
                </div>

        <br>
        <div >
            <div class="form-group">
                {{ form.chat(class="form-control form-control-lg")}}
            </div>
        </fieldset>
        <div class="form-group">
                {{ form.submit(class="btn btn-secondary")}}
        </div>
        </div>
    </form>
</div>
</div>
</div>

<div class="content-section">
    <legend class="border-bottom mb-4">Attendance History</legend>
    <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" style="width: 3px;">Date</th>
              <th scope="col" style="width: 3px;">Time</th>
              <th scope="col" style="width: 3px;">Att</th>
              <th scope="col" style="width: 20px;"></th>
            </tr>
        </thead>
        {% for log in attLog %}
        <tbody>
            <tr>
              <td> {{log.date_posted.strftime('%B %d')}}</td>
              <td> {{log.date_posted.strftime('%H %M')}}</td>
              <td> {{log.attend}}</td>
              <td> {{log.comments}}</td>
            </tr>
        </tbody>
        {% endfor %}
      </table>
</div>

{% endblock content %}

{% block script %}

<script>

    window.onload = $('#newMessage').hide();


    //var myVar = setInterval(chatCheck, 60000);

    function chatCheck() {
		$.ajax({
			data : {
                chat : $('#lastChat').val()
			},
			type : 'POST',
            //url : '/chatCheck',

		})
		.done(function(data) {
            if (data.new) {
                $('#newMessage').show();
                document.getElementById('messText').innerHTML = data.new
            }
		})
        .error(function(){
            alert('error')
        });
    }


</script>

{% endblock %}



