{% extends "layout.html" %}
{% block content %}
    <div class="content-section">

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.studentID.label(class="form-control-label") }}
                    {% if form.studentID.errors %}
                        {{ form.studentID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.studentID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.studentID(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>


        </form>
    </div>
    <div class='content-section'>
        <div>
        <button class="btn btn-info"><a style="color:white" href="{{ url_for ('register') }}">New Student</a></button>
        </div>
        <br>
        <div>
        <button class="btn btn-danger"> <a style="color:white" href="{{ url_for ('reset_request') }}">Forgot Password</a></button>
        </div>
        <br>
        <small>If 'Forgot Password' link doesn't work please send email <a href='mailto:cjx02121981@gmail.com'>cjx02121981@gmail.com</a> with your NAME,  STUDENT ID and COURSE</small>
    </div>

{% endblock content %}