{% extends "layout.html" %}

{% block content %}

<div id="vue-app">

<div class="content-section">
        <h1> Novel Projects </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="https://docs.google.com/presentation/d/e/2PACX-1vRgyy0la4aja27eWczaQ_nA2A9oqSxGW0mXCpGlrGa9VJGvLjaAuuLckf6P-pWRbVHQcta7YoqwT_Oh/embed"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div>

</div>

<div class="content-section" v-if="completed >= nCount || editNovel">
  <legend class="border-bottom mb-4"> Novel Details: </legend>

    Project Number:
    <select  name="project" v-model="project">
    <option value="1">First Project</option>
    <option value="2">Second Project</option>
    </select>

    [[project]]

    <br>
    <br>
    Team Number: <input style="number" id="team number" v-model="novel.team" disabled></input>
    <br>
    <br>
    Name(s): <input style="text" id="names" v-model="novel.names" disabled></input>
    <br>
    <br>
    Book:
    <select  type="text"  name="titles" v-model="book">
        <option v-for="option in getLevel()" :value="option">[[option]]</option>
    </select>

    <br>
    <br>
    Title: <input style="text" id="title" v-model="book[0]" disabled></input>
    <br>
    <br>
    Author: <input style="text" id="author" v-model="book[3]" disabled></input>
    <br>
    <br>
    Chapters: <input style="number" id="chapters" v-model="book[2]" disabled></input>
    <br>
    <br>
    Level: <input style="text" id="level" v-model="book[1]" disabled></input>
    <br>
    <br>

    <div>
      <button class="btn btn-info"><a style="color:white" @click="submitNovel()">Add Novel</a></button>
    </div>

</div>

<div class="content-section">
  <legend class="border-bottom mb-4" style="background:pink"> Your Team: {{current_user.extra}}</legend>

  <br>

  <legend class="border-bottom mb-4"> Your Projects: </legend>

  <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >Novel</th>
              <th scope="col" >Chapters</th>
              <th scope="col" >Sums</th>
              <th scope="col" >Recs</th>
            </tr>
        </thead>

        <tbody>
            <template v-for="(n, index) in nObj">
                <tr>
                  <td> <button class="btn" @click="edit(index)">[[ index ]]</button> <br> [[ n.novel.title ]] </td>
                  <td> [[ n.novel.chapters ]]</td>
                  <td> <button class="btn btn-info btn-sm"><a style="color:white" @click="goTo('sum', index)">[[ n.sums]]/[[ n.novel.chapters ]]</a></button> </td>
                  <td> <button class="btn btn-info btn-sm"><a style="color:white" @click="goTo('rec', index)">[[ n.recs]]/1 </a></button> </td>
                </tr>
            </template>
        </tbody>

      </table>
    </div>



</div>

<span id="user" style="display:none">{{current_user.username}}</span>
<span id="extra" style="display:none">{{current_user.extra}}</span>
<span id="completed" style="display:none">{{completed}}</span>
<span id="nString" style="display:none">{{nString}}</span>
<span id="nCount" style="display:none">{{nCount}}</span>
<span id="nameList" style="display:none">{{names}}</span>

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var completed = document.getElementById('completed').innerHTML
var nString = document.getElementById('nString').innerHTML
var nCount = document.getElementById('nCount').innerHTML
var extra = document.getElementById('extra').innerHTML
var names = document.getElementById('nameList').innerHTML
var nObj = JSON.parse(nString)
console.log('extra', extra);
console.log('nObj', nObj);
console.log('names', names);
console.log('nCount', nCount);
console.log('completed', completed);


var level3 = {
  //'The Bronte Story' : [3, 10, ''],
  'None' : [null, 0, 0, null],
  'On the Edge' : ['On the Edge', 3, 10, 'Gillian Cross'],
  'The Crown of Violet' :	['The Crown of Violet', 3, 8, 'Geoffrey Trease'],
  "Wyatt's Hurricane" : ["Wyatt's Hurricane", 3, 10, 'Desond Bagley'],
  'The Star Zoo' : ['The Star Zoo', 3, 10, 'The Star Zoo'],
  'The Card'	: ['The Card', 3, 7, 'Arnold Bennett'],
  'The Railway Children': ['The Railway Children', 3, 9, 'Edith Nesbit'],
  'The Secret Garden': ['The Secret Garden', 3, 8, 'Frances Burnett']
}

var level2 = {
  //'The Bronte Story' : [3, 10, ''],
  'None' : [null, 0, 0, null],
  'Huckleberry Finn' : ['Huckleberry Finn', 2, 5, 'Mark Twain']
}

startVue()

function startVue(){ new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
      this.novel.number = 1
      this.novel.level = 2
    },
    data: {
        status: status,
        project: null,
        book: [null, 0, 0, null],
        completed: completed,
        'level3': level3,
        'level2': level2,
        editNovel: false,
        nObj: nObj,
        nCount: nCount,
        novel: {
          number: null,
          team: extra,
          names: names,
          title: null,
          author: null,
          chapters: null,
          level: null
        }
    },
    methods: {
        getLevel: function () {
          if (this.project == '1') {
            return this.level2
          } else if (this.project == '2') {
            return this.level3
          } else {
            return { null : [null, 0, 0, null]}
          }
        },
        goTo: function(task, index) {

          let name = document.getElementById('user').innerHTML

          var str = window.location.href

          let url = (str).split('nme_')[0] + task + '/'+ index
          console.log('goTO', url);
            window.location = url
            console.log('DONE');
        },
        edit: function(index) {
          for (let item in this.novel) {
            this.novel[item] = this.nObj[index][item]
          }
          console.log(this.novel)
          this.editNovel = index
        },
        submitNovel: function () {
          console.log('update via AJAX');
          console.log(this.novel)

          this.novel.number = this.project
          this.novel.title = this.book[0]
          this.novel.level = this.book[1]
          this.novel.chapters = this.book[2]
          this.novel.author = this.book[3]
          let _this = this
            $.ajax({
              data : {
                novel: JSON.stringify(this.novel)
              },
              type : 'POST',
              url : '/addNovel',
            })
            .done(function(data) {
              console.log('nOBj success', data)
              _this.nObj[data.nKey] = JSON.parse(data.nValue)
              if (_this.editNovel) {
                _this.editNovel = false
              } else {
                _this.completed += 1
              }
              for (let item in this.novel) {
                _this.novel[item] = null
              }
              _this.novel.number = this.completed + 1
              location.reload()
            })
            .fail(function(){
              alert('Error: Check Info')
                console.log('error has occurred');
            });
        },
    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

