{% extends "layout.html" %}

{% block content %}

<div id="vue-app">

<div class="content-section">
        <h1> Movie Projects </h1>
</div>

<div class="content-section">
  <video style="width:100%" id="vid" src="" controls playsinline  ></video>

  <div >
   <audio controls id="handler"> </audio>
  </div>

  <div style="overflow-x:auto;">
  [[team]] <br>
  [[teamMembers]] <br>
  [[speakers]]
  <div>
    Delay (1000 = 1 sec) <input style='integer' v-model="milli"> </input>
  </div>

    <table class="table table-sm">
      <thead>
          <tr>
            <th scope="col" style="width:5%"  >Movie</th>
            <th scope="col" style="width:10%" >Names</th>
            <th scope="col" >0</th>
            <th scope="col" >1</th>
            <th scope="col" >2</th>
            <th scope="col" >3</th>
            <th scope="col" style="width:7%" >4</th>
          </tr>
      </thead>

      <tbody>
      <template v-for="(movie, key) in projectOBJ" :key="key">
        <button class="btn btn-warning" @click="show = key"> [[key]] </button>

        <template  v-for="(proj, team) in movie" :key="team">
        <tr v-if="show == key">
            <td>
            [[team]]
            </td>
            <td>
            [[proj.names]]
            </td>
            <td>
            [[proj.q01]] <br>
            [[proj.q02]]
            </td>
            <td>
            [[proj.q11]] <br>
            [[proj.q12]]
            </td>
            <td>
            [[proj.q21]] <br>
            [[proj.q22]] <br>
            [[proj.q23]]
            </td>
            <td>
            [[proj.q31]] <br>
            [[proj.q32]] <br>
            [[proj.q33]]
            </td>
            <td>
            <button v-if="proj.audio" class="btn btn-info" @click="playAudio(proj, key)"> Play </button>
            </td>

        </tr>

      </template>
      </template>

      </tbody>

    </table>
  </div>


  <div class="content-section">
    <legend class="border-bottom mb-4"> Movie Details: Team [[md]]</legend>

    <div v-for="(movieData, key) in payOBJ">
    <div v-if="md == key">

      {% if current_user.id == 1 %}

      Trailer: <input style="text"  v-model="movieData.trailer"></input>
      <br>
      <br>
      Clip: <input style="text"  v-model="movieData.clip"></input>
      <br>
      <br>
      Subtitle: <input style="text"  v-model="movieData.subtitles"></input>
      <br>
      <br>
      Keyword: <input style="text"  v-model="keyword"></input> [[movieData.keyword]]
      <br>
      <br>
      {% endif  %}


      Title: <input style="text" v-model="movieData.title"></input>
      <br>
      <br>

      Intro: <textarea style="text" v-model="movieData.intro"></textarea>
      <br>
      <br>

      Warm Up Question 1: <textarea style="text" v-model="movieData.q01"></textarea>
      <br>
      <br>

      Warm Up Question 2: <textarea style="text" v-model="movieData.q02"></textarea>
      <br>
      <br>

      <h3> Main Idea: </h3>

      Clip Description: <textarea style="text" v-model="movieData.description"></textarea>
      <br>
      <br>

      First Listen Q1: <textarea style="text" v-model="movieData.q11"></textarea>
      <br>
      <br>

      First Listen Q2: <textarea style="text" v-model="movieData.q12"></textarea>
      <br>
      <br>

      <hr>
      <h3>Details:</h3>

      Second Listen Q1: <textarea style="text" v-model="movieData.q21"></textarea>
      <br>
      <br>

      Second Listen Q2: <textarea style="text" v-model="movieData.q22"></textarea>
      <br>
      <br>

      Second Listen Q3: <textarea style="text" v-model="movieData.q23"></textarea>
      <br>
      <br>

      <hr>
      <h3>Script: </h3>

      <div v-for="(line, key) in movieData.script">
          <div>
            <textarea style="text"  v-model="movieData.script[key]"></textarea>
          </div>
      </div>

      <hr>

      <h3>Vocab</h3>

      Vocab 1: <input style="text" v-model="movieData.vocab[1].v"></input>
      Question: <textarea style="text" v-model="movieData.vocab[1].q"></textarea>
      <br>
      <br>
      Vocab 2: <input style="text" v-model="movieData.vocab[2].v"></input>
      Question: <textarea style="text" v-model="movieData.vocab[2].q"></textarea>
      <br>
      <br>
      Vocab 3: <input style="text" v-model="movieData.vocab[3].v"></input>
      Question: <textarea style="text" v-model="movieData.vocab[3].q"></textarea>

      <div>
        <button class="btn btn-info"><a style="color:white" @click="submitAnswers(md)">Submit Answers</a></button>
      </div>

      <br>
      <br>
      <hr>
      </div>
    </div>

  </div>




</div>

<span id="projectDict" style="display:none">{{nmeString}}</span>
<span id="project" style="display:none">{{project}}</span>
<span id="payloadDict" style="display:none">{{payString}}</span>
<span id="teams" style="display:none">{{teams}}</span>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var projectDict = document.getElementById('projectDict').innerHTML
var payloadDict = document.getElementById('payloadDict').innerHTML
var project = document.getElementById('project').innerHTML
var OBJ = JSON.parse(projectDict)
var PAY = JSON.parse(payloadDict)
console.log('projectDict', OBJ);
console.log('payloadDict', PAY);



startVue()

function startVue(){ new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    data: {
        projectOBJ: OBJ,
        payOBJ: PAY,
        show: null,
        md: project,
        teamDict:  {},
        speakers: '',
        teamMembers: '',
        team: '',
        milli: null,
        keyword: ''
    },
    methods: {
        goTo: function(key) {

          // go to HTTPS version
          var str = window.location.href

          let url = (str).split('_dash')[0] + '_check/' + key
          console.log('goTO', url);
            window.location = url
            console.log('DONE');
        },
        playAudio: function (proj, mov) {
          this.team = proj.team
          this.speakers = proj.speakers
          this.teamMembers = proj.names
          let audioLink = proj.audio
          console.log(proj)
          let audio = document.getElementById('handler')
          audio.src = audioLink
          audio.pause()
          audio.currentTime = 0

          let video = document.getElementById('vid')
          video.muted = true
          video.src = this.payOBJ[mov].subtitles
          video.pause()
          video.currentTime = 0

          audio.play()
          if (proj.milli) {
            this.milli = parseInt(proj.milli)
          }

          setTimeout(func, this.milli)
                function func(){video.play()}

        },
        submitAnswers: function (team) {
          if (!this.payOBJ[team]['keyword']) {
            this.payOBJ[team]['keyword'] = this.keyword
          }

          let link = 'https://nme-lms.s3-ap-northeast-1.amazonaws.com/dubbing/' + this.payOBJ[team]['keyword']
          this.payOBJ[team]['trailer'] = link + '-0.mp4'
          this.payOBJ[team]['clip'] = link + '-1.mp4'
          this.payOBJ[team]['subtitles'] = link + '-2.mp4'

          console.log('update via AJAX');
          let _this = this
            $.ajax({
              data : {
                team: team,
                movieData: JSON.stringify(_this.payOBJ[team]),
              },
              type : 'POST',
              url : '/addProject',
            })
            .done(function(data) {
              alert('project updated')
              // _this.goTo()
            })
            .fail(function(){
              alert('an error has occured')
              console.log('error has occurred');
            });
        },

    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

