{% extends "layout.html" %}

{% block content %}

<span id="user" style="display:none">{{current_user.username}}</span>

<div id="vue-app">

<div class="content-section">    
        <h1> Exam Projects </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div>   
    
</div>

<div class="content-section">

<legend class="border-bottom mb-4"> Your Score: </legend>

<span style="style()"> Product </span>
<br>
<br>
<span style="style()"> Transitions </span>
<br>
<br>
<span style="style()"> Cue Cards </span>
<br>
<br>
<span style="style()"> Details </span>
  

</div>  

<div class="content-section">  
  <legend class="border-bottom mb-4"> Your Project: </legend>

    <div>  			
      <button  class="btn btn-light-danger" @click="goTo('MT')">Demonstration</button>
    </div> 

</div>   
   

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

//var projectDict = document.getElementById('projectDict').innerHTML
//var OBJ = JSON.parse(projectDict)
//console.log('projecDict', OBJ);


startVue()

function startVue(){ new Vue({   

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){        
    },
    data: {
        //projectOBJ: OBJ,         
    }, 
    methods: {   
        goTo: function(proj) {   

          
         
          if (proj == 'MT') {
            var link = '/MT'                      
          }           
          else if (proj == 'FN') {
            var link = '/FN'                      
          } 
          // go to HTTPS version
          var str = window.location.href

          let url = (str).split('_list')[0] + link
          console.log('goTO', url);
            window.location = url            
        }
                  
    }         
})// end NEW VUE



}// endFunction 

</script>  

{% endblock %} 

