{% extends "layout.html" %}

{% block content %}

<span id="ansString" style="display:none">{{ansString}}</span>

<div class="content-section">    
<h3> FN Presentation: <br> Share a Viral Video </h3>
  
    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	</iframe>
    </div> 
      
</div>

<div class="content-section">   
  
    <h3> <a href="https://drive.google.com/open?id=1ePFM7qDeleT3RImcmPX-yBT1cdYo4TPUf0usRwjpULA"> Example: Kangaroo </a> </h3>
      
</div>

<div id="vue-app">

    <div class="content-section">

            <legend class="border-bottom mb-4"> Set Up </legend>


            <span :style="style('Intro')"> Video Title</span>
            <input type="text" class="textAss" style="margin-left:5px" v-model="ansOBJ['Video Title']"></input> <br>
            <span style="color:red">*you cannot choose Music Video, Movie/TV clip, Youtube Vlog</span>
            <span style="color:green">*you can choose: <br>
            something creative (not made by a professional<br>
            something that give us something interesting to think about<br>
            homevideo / motivational / sport / activity / nature / parody / ....</span>
            <br>  
            <br>  

            <span :style="style('Intro')"> Video Length</span>
            <input type="text" class="textAss" style="margin-left:5px" v-model="ansOBJ['Video Length']"></input> <br>
            <span style="color:green">*Note if the video is very long remember we can only see aboout 2 mins of it <br>
            <br>  

            <span :style="style('Intro')"> Video Views</span>
            <input type="text" class="textAss" style="margin-left:5px" v-model="ansOBJ['Video Views']"></input> <br>
            <span style="color:green">*Note a viral video should have over 1 million views - write your number in millions eg 1.3 million / 7.4 million <br>
            <br>  
            
            <span :style="style('Intro')"> Video Link</span>
            <input type="text" class="textAss" style="margin-left:5px" v-model="ansOBJ['Video Link']"></input> 
            <br>  
            <br>  

            <span :style="style('Intro')"> Video Purpose</span>
            <textarea type="text" class="textAss" style="margin-left:5px" v-model="ansOBJ['Video Point']"></textarea> <br>
            <span style="color:green">*Why did you choose this video? There should be special reason, something it can teach us or something we can think about<br>
            <br>  
            
            <div>				
                <button  class="btn btn-dark" style="margin-right:5px" @click="updatePlan()">Update Plan</button>
            </div> 
            <br>  

    </div>




</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript">

var ansString = document.getElementById('ansString').innerHTML
var ansOBJ = JSON.parse(ansString)
console.log('ansOBJ', ansOBJ);

var str = window.location.href
let stage = (str).split('peng/')[1].split('/')[1]


startVue(ansOBJ)

function startVue(ansOBJ){ 
  
  let vue = new Vue({   

    el: '#vue-app',
    delimiters: ['[[', ']]'],   
    mounted: function () {        
    },    
    data: {                        
        ansOBJ: ansOBJ,       
        stage : stage,         
        project: (window.location.href).split('/peng/')[1].split('/')[0],   
    }, 
    methods: { 
        style : function(mark) { 
            if (mark.includes('kw')){
                var bg = 'silver'
            }
            else if (mark.includes('dt')){
                var bg = 'darkorange'
            }           
            else if (mark.includes('Rea')){
                var bg = 'PALEVIOLETRED'
            }           
            else if (mark.includes('Int')){
                var bg = 'DARKCYAN'
            }           

            return {padding:'4px', 'font-size':'15px', background:bg, color:'white', border:'1px sold white', 'border-radius':'5px', width:'20%'}

        },
        updatePlan : function() {  
            alert('Please wait, your plan is being updated')           

            $.ajax({
              data : {
                proj : this.project,
                stage: this.stage,
                ansOBJ : JSON.stringify(this.ansOBJ)  
              },
              type : 'POST',
              url : '/updatePENG',               
            })
            .done(function(data) {
                if (data.fail){
                    alert('Your FORM is NOT complete yet')
                }
                else{
                    vue.ansOBJ = JSON.parse(data.ansString)
                    console.log(vue.ansOBJ)
                    alert('Your FORM has been updated')   
                }  
                
                               
            })
            .fail(function(){
                alert('error has occurred');
            });
        }, 
    }  
    
})// end NEW VUE

}// endFunction 


</script>

{% endblock %} 

