{% extends "layout.html" %}

{% block content %}

<span id="ansString" style="display:none">{{ansString}}</span>

<div class="content-section">
<h1> Final Presentation: <br> Viral Video </h1>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	</iframe>
    </div>

</div>

<div id="vue-app">

<div class="content-section">



    <legend class="border-bottom mb-4"> Dashboard </legend>
    <br>
    <span style="background:aqua"  @click="all = !all"> Show All </span>
    <br>
    <br>


    <template v-for="(ansOBJ, student) in fullOBJ">
        <span :style="style('0' + ansOBJ.stage)"  @click="view = student"> [[student]] : [[ansOBJ.stage]] </span>
    <br>
    <div v-if="view == student || all == true">

        <template v-for="(item, key) in ansOBJ">
            <div v-if="ansOBJ['stage'] > 1">
            <span v-if="item" :style="style(key)"> [[key]] </span>
            <br v-if="item" >
                <textarea v-if="item" type="text" class="textAss" :id="key" style="margin-left:5px" v-model="fullOBJ[student][key]" @blur="wordCount(key)"></textarea>
            <br v-if="item" >
            </div>
        </template>

        <div>
            <button  class="btn btn-dark" style="margin-right:5px" @click="updatePlan(student, 3)">Update Plan</button>
            <button  class="btn btn-success" style="margin-right:5px" @click="updatePlan(student, 4)">Update Plan</button>
        </div>

    </div>

        <br>

    </template>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript">

var ansString = document.getElementById('ansString').innerHTML
var fullOBJ = JSON.parse(ansString)
console.log('ansOBJ', fullOBJ);


startVue()

function startVue(){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function () {
    },
    data: {
        all: false,
        fullOBJ: fullOBJ,
        view: null,
        blurblocker: null,
    },
    methods: {
        wordCount : function(mark) {
            console.log(mark);
            var wc = (document.getElementById(mark).value).split(' ')
            console.log(wc.length);
            if (wc.length < 60 && ( mark == 'Description' || mark == 'Comments')) {
                if (vue.blurblocker == mark){
                    console.log('blur');
                }
                else{
                    alert('This seems too short: ' + toString(wc.length))
                    vue.blurblocker = mark
                }

            }

            return true
        },
        style : function(mark) {
            console.log(mark.substring(0,2));

            colorOBJ = {
                ke : 'silver',
                Li : 'TOMATO',
                Vi : 'darkorange',
                De : 'PALEVIOLETRED',
                Co : 'DARKCYAN',
                Wa : 'YellowGreen',
                Yo : 'YellowGreen',
                st : 'Grey',
                '00' : 'Red',
                '01' : 'Purple',
                '02' : 'Pink',
                '03' : 'hotpink',
                '04' : 'Green'
            }

            var bg = colorOBJ[mark.substring(0,2)]


            return {padding:'4px', 'font-size':'25px', background:bg, color:'white', border:'1px sold white', 'border-radius':'5px', width:'20%', height:'30px'}

        },
        updatePlan : function(student, key) {
            alert('Please wait, your plan is being updated')
            console.log(this.fullOBJ[student]);
            $.ajax({
              data : {
                ansOBJ : JSON.stringify(this.fullOBJ[student]),
                image_b64 : null,
                audio_b64 : null,
                proj : 'FN',
                stage : key,
                user : student

              },
              type : 'POST',
              url : '/updatePENG',
            })
            .done(function(data) {
                if (data.fail){
                    alert('Your FORM is NOT complete yet')
                }
                else{
                    alert('Your FORM has been updated: stage', data.stage)
                }

            })
            .fail(function(){
                alert('error has occurred');
            });
        },

    },

})// end NEW VUE

}// endFunction

</script>

{% endblock %}

