{% extends "layout.html" %}

{% block content %}

<span id="ansString" style="display:none">{{ansString}}</span>
<span id="name" style="display:none">{{current_user.username}}</span>

<div class="content-section">
<h1> Midterm Presentation: <br> Product Demonstration </h1>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="questions_embed" src="https://docs.google.com/presentation/d/e/2PACX-1vTa0AjKFeKUtKj5Dcj-G6b7gwyvuDDzI07JzrnVdGzv_xJjmmxKC-a5oYJ-RL2HNMIf9zOiMs3yNZzR/embed"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	</iframe>
    </div>

</div>

<div id="vue-app">

<div class="content-section">
        <audio id="audioPlayer" controls>
                <source  :src="ansOBJ['Audio5']" type="audio/mpeg" >
                <source  :src="ansOBJ['Audio5']" type="audio/x-m4a" >
        </audio>

<br>
<br>
        <div>
            Audio:&nbsp&nbsp
            <div>
            <input type="file" id="audio" accept="audio/*" @change="audioValidation()"> </input> <button class="btn btn-secondary btn-sm"> Select </button>
            </div>
            <br>
            <div v-if="audio_b64">
            <button  class="btn btn-danger btn-sm" @click="updatePlan()">Upload</button>
            </div>
        </div>

</div>

<div class="content-section">

<legend class="border-bottom mb-4"> Practice Script with Notes </legend>

<h5 style="color:hotpink"> Read the script notes to get comfortable with your presentation </h5>
<br>
<br>

<h5 style="color:purple"> Introduction </h5>

    <h5>[[  ansOBJ['Intro'][1]  ]]</h5>
    <h5>[[  ansOBJ['Intro'][2]  ]]</h5>
    <h5>[[  ansOBJ['Intro'][3]  ]]</h5>
<br>
<br>

<template v-for="(section, key) in ansOBJ['Parts']">

        <div style="border: 0.5px solid purple;border-radius: 3px; padding: 5px">
        <h4 style="color:purple" >  [[ key ]]  </h4>
        <ul>
           <li>[[  ansOBJ['Cues'][key][1]  ]]</li>
           <li>[[  ansOBJ['Cues'][key][2]  ]]</li>
           <li>[[  ansOBJ['Cues'][key][3]  ]]</li>
        </ul>
        </div>
        <br>
        <h5 style="color:purple"> [[ script[key] ]]</h5>
        <h5> [[ ansOBJ['Parts'][key][1] ]] </h5>
        <h5> [[ ansOBJ['Parts'][key][2] ]] </h5>
        <h5> [[ ansOBJ['Parts'][key][3] ]] </h5>

<br>
</template>





</div>





</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" >

var ansString = document.getElementById('ansString').innerHTML
var ansOBJ = JSON.parse(ansString)
console.log('ansOBJ', ansOBJ);

var str = window.location.href
let stage = (str).split('peng/')[1]
console.log(stage)


startVue(ansOBJ)

function startVue(ansOBJ){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function () {
    },
    data: {
        ansOBJ: ansOBJ,
        stage : stage,
        audio_b64: null,
        script: {
            Product : "What is this product?",
            Features : "First, let me explain some product features",
            Demo : "Now, for the demonstration",
            Extra : "Finally, what are some extra benefits?",
        }
    },
    methods: {
        updatePlan : function() {
            alert('Please wait, your plan is being updated')

            $.ajax({
              data : {
                stage: this.stage,
                image_b64 : null,
                audio_b64 : vue.audio_b64,
                ansOBJ : JSON.stringify(this.ansOBJ)
              },
              type : 'POST',
              url : '/updatePENG',
            })
            .done(function(data) {
                if (data.fail){
                    alert('Your FORM is NOT complete yet')
                }
                else{
                    vue.ansOBJ = JSON.parse(data.ansString)
                    document.getElementById('audioPlayer').src = vue.ansOBJ['Audio']
                    console.log(vue.ansOBJ)
                    alert('Your FORM has been updated')
                }


            })
            .fail(function(){
                alert('error has occurred');
            });
        },
        audioValidation : function(){
            console.log('audio1', vue.audio_b64);
            var fileInput = document.getElementById('audio');
            console.log('file', fileInput)
            var filePath = fileInput.value;
            var allowedExtensions = /(\.mp3|\.m4a|\.m4v|\.mov|\.mp4|\.aac)$/i;

            if(fileInput.files[0].size > 300000000){
                alert("File is too big!");
                location.reload()
                return false;
            }
            else if(!allowedExtensions.exec(filePath)){
                alert('Please upload audio/video file');
                fileInput.value = '';
                return false;
            }
            else{
                console.dir( fileInput.files[0] );
                var url = window.URL.createObjectURL(fileInput.files[0]);
                fetch(url)
                .then(function(res){
                    return res.blob();
                    })
                .then(function(savedBlob){

                var reader = new FileReader();
                reader.readAsDataURL(savedBlob);
                reader.onloadend = function() {
                        vue.audio_b64 = reader.result.split(',')[1];
                        console.log('audio2', vue.audio_b64);
                    }
                })// end then function
            }//end else

          },//end audioValidation
    }// end methods


})// end NEW VUE

}// endFunction

</script>

{% endblock %}

