{% extends "layout.html" %}

{% block content %}

<span id="ansDict" style="display:none">{{ansDict}}</span>
<span id="testDict" style="display:none">{{testDict}}</span>
<span id="teamMembers" style="display:none">{{teamMembers}}</span>

<div class="content-section">    
        <h1> Project: {{meta.Title}} </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{meta.M1}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div>   
    
</div>

<div id="vue-app"> 

<div class="content-section">
        <legend class="border-bottom mb-4">Team [[team]] </legend>
        <template> 
		<table align="center">                
                        <th scope="col" v-for="(member, key) in teamOBJ" >				
				<img class="rounded-circle chat-img" :src="member">
				<br>
				[[ key ]]				
			</th>   
		</table>
        </template>     
</div>


<div class="content-section">

<!--Question 
<select id="question" name="choice">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br>
<br>
-->

Image
<input type="file" id="image" accept="image/*" @change="imageValidation()"> </input> <button class="btn btn-sm"> Upload Image </button>

<span id="image_alert"> No image </span>
<br>
<br>
Word:
<br> 
<input id="word'" type="text" class="textAss" style="margin-left:5px" ></input> 
<br>
                
Sentence:
<textarea id="sentence" class="textAss"></textarea> 
<br>

Rec:
<span> [[phone]]</span>
<div>                              
 <audio id="handler" ref="player" controls autoplay></audio> 
</div> 
<br>
<template v-if="show[1]">

    <div style="display:flex" > 
            <div  v-if="rec1.start">				
                <button  class="btn btn-success" @click="start(1)" >Start</button>
            </div> 
            <div  v-if="rec1.stop">				
                <button  class="btn btn-danger" @click="stop(1)" >Stop</button>
            </div>             
            <div  v-if="rec1.cancel" flex="0.5">				
                <button  class="btn btn-secondary" @click="cancel(1)">Cancel/Redo</button>
            </div> 
            <div  v-if="audio[1] == 3" >     
                <button type="button" class="btn btn-dark" style="margin-left:5px" @click="playAudio('0')">Test Listen</button>	
            </div>
    </div>  

    <br>
    <div v-if="rec1.timer" :style="rec1.t_style">
        <span class="ml-2" style="color:white" > [[ rec1.count ]] </span>
    </div> 
    <br>

    <div style="background:lightcoral;width:100px;border:1px sold white; border-radius:5px" @click="showUpload('up')">
        <span style="padding:5px; font-size:12px" justify="right"> Rec Problems? </span>
    </div> 
    <br>
    <br>

    <div v-if="" >				
        <button  class="btn btn-info" style="margin-right:5px" @click="save(1)">Add Answer</button>
    </div> 


</template>


<div v-if="upload">

    <div style="background:pink;height:30px" @click="showUpload('rec')">
            <span style="color:red" > TRY RECORDING -->  </span>
    </div>
    <div class="content-section">
        <p>If you have an Android phone and you cannot record, please first check your microphone permissions or try a different browser.</p> 

        <p>If you are using iOS, recording should work for IOS 11+ on iPhones. Older versions and iPads may not work, please upload or share a link.</p>
    </div>

     

    
        <div class="content-section">            

            <h6> *Upload files from phone </h6>
                <div class="">                      
                    <label class="btn btn-secondary btn-info" style="margin-left:10px">
                        <input  type="file" name="options" :id="uploadBTN[1][0]" @change="fileValidation(1)" > Upload File  <!--accept=audio removed-->
                    </label>
                </div> 

            <h6> *Or share a link to your file</h6>
                <label class="btn btn-default">
                    <input name="options" :id="uploadBTN[1][1]"></input>
                </label>   
                <label class="btn">
                    <button class="btn btn-outline-info btn-sm" type="button" @click="saveLink(1)"> Save Link </button>                                            
                </label>        
        </div> 


</div>  <!-- end of upload -->

</div> 

<div class="content-section">
        <legend class="border-bottom mb-4">Sentences </legend>
    <template v-for="(ans, key) in ansOBJ">
        <h4> Q [[key]] </h4>
        <img class="rounded img-fluid" id="final_image" alt="No file yet" style="max-width:60%"  src="https://abc-lms.s3.ap-northeast-1.amazonaws.com/profiles/blank.png">
        <br><br>
        <h5> Word: [[ans.word]] </h5>
        <h5> Sentence: [[ans.sentence]] </h5>
        <div>                              
            <audio id="" controls src=""></audio> 
        </div>
        <br>
        <br>

    </template>

</div>




</div> <!-- end of Vue app -->



{% endblock %}

{% block script %} 
<script type="text/javascript" src="{{url_for('static', filename= 'js/Mp3LameEncoder.js')}}"></script> 
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/abc_snl.js')}}"></script>  
{% endblock %} 


      
    
  
 