{% extends "layout.html" %}

{% block content %}

<span id="projectDict" style="display:none">{{abcDict}}</span>

<div id="vue-app">

<div class="content-section">    
        <h1> Exam Projects </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div> 
  
    
</div>

<div class="content-section">  

<h3> Project Dash </h3>
    
    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >U</th>  
              <th scope="col" >Title</th>                                  
              <th scope="col" >Team</th>                       
              <th scope="col" >Q&A</th>                       
              <th scope="col" >S&L</th>                       
                                   
            </tr>
        </thead> 
        
        <tbody>
            <template v-for="(proj, unit) in projectOBJ"  >             
                <tr>
                  <td>  
                  {% if current_user.id == 1 %} 
                  <span @click="goTo(unit, 0, 'I')" class="unit-span" style="background:silver;padding:3px"> [[ unit ]] </span>               
                  {% else %}  
                  <span class="unit-span" style="background:coral;padding:3px"> [[ unit ]] </span>
                  {% endif %} 
                  </td>  
                  <td> [[ proj.Title]] </td>  
                  <td> [[ proj.Team]] </td>  
                  <td> 
                      <span v-if="proj.Number == 0"> </span>  &nbsp;
                      <span v-else @click="goTo(unit, proj.Number, 'Q')" class="unit-span" :style="buttonStyle(proj.QTotal, 'snl', 'edit')"> &nbsp;[[proj.QTotal]]/12&nbsp; </span> 
                       <br>
                       <br>
                       
                      <span v-if="proj.QTotal >= 12" @click="goToExam(unit, proj.Number, 'qna')" class="unit-span" :style="buttonStyle(proj.QTest, 'qna', 'check')"> &nbsp;check&nbsp; </span> 
                       <br> 
                  </td>  
                  <td>
                      <span v-if="proj.Number == 0"> </span>  &nbsp;
                      <span v-else @click="goTo(unit, proj.Number, 'S')" class="unit-span" :style="buttonStyle(proj.STotal, 'snl', 'edit')"> &nbsp;[[proj.STotal]]/12&nbsp; </span> 
                       <br>
                       <br>
                        
                      <span v-if="proj.STotal >= 12" @click="goToExam(unit, proj.Number, 'snl')" class="unit-span" :style="buttonStyle(proj.STest, 'snl', 'check')"> &nbsp;check&nbsp; </span> 
                       </td> 
                       <br>      
                </tr>  
            </template> 
        </tbody>   
   
      </table>
    </div>

</div>   

<div class="content-section" style="display:none">  

<h3> Exam Test Board </h3>
    
    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >U</th>  
              <th scope="col" >Title</th>
              <th scope="col" >Q&A</th>                       
              <th scope="col" >S&L</th>  
            </tr>
        </thead> 
        
        <tbody>
            <template v-for="(proj, unit) in projectOBJ" :unit="unit" >             
                <tr>
                  <td>  
                    <span class="unit-span" style="background:silver;padding:3px"> [[ unit ]] </span> 
                  </td>  
                  <td> [[ proj.Title]] </td>  
                  <td>
                    <span @click="goToExam()" class="unit-span" style="background:blue;padding:3px"> &nbsp;Test&nbsp; </span>  
                  </td>  
                  <td> 
                    <span @click="goToExam()" class="unit-span" style="background:blue;padding:3px"> &nbsp;Test&nbsp; </span>  
                  </td>      
                </tr>  
            </template> 
        </tbody>   
   
      </table>
    </div>

</div>   
   

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var projectDict = document.getElementById('projectDict').innerHTML
var OBJ = JSON.parse(projectDict)
console.log('projecDict', OBJ);


startVue(OBJ)

function startVue(OBJ){ 
  
  let vue = new Vue({   

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
        console.log('projecDict', OBJ);
    },
    data: {
        projectOBJ: OBJ        
        
    }, 
    methods: {   
        buttonStyle: function(total, mode, style) { 
          if (style == 'edit') { 
            if (total >= 12){
              return { background: 'mediumseagreen', padding:'3px'}
            }
            else{
              return { background: 'goldenrod', padding:'3px'}
            }
          } 
          else if (style == 'check'){
            if (total == 1){
              return { background: 'blue', padding:'3px'}
            }
            else{
              return { background: 'goldenrod', padding:'3px'}
            }
          }                 
          
        },     
        goTo: function(unit, team, mode) {          
          console.log(mode);
          if (mode == 'Q') {
            var link = '/qna/'                      
          }           
          else if (mode == 'S') {
            var link = '/snl/'                      
          }           
          else { 
            var link = '/make_teams/'  
          }

          // go to HTTPS version
          var str = window.location.href
          let url = (str).split('_list')[0] + link + unit + '/' + team
          console.log('goTO', url);
          window.location = url
            
        },
        goToExam: function(unit, team, mode) {

          // go to HTTPS version
          var str = window.location.href
          let url = (str).split('_list')[0] + '_exam/' + mode + '/' + unit + '/' + team
          console.log('goTO', url);
          window.location = url
            
        }
                  
    }         
})// end NEW VUE



}// endFunction 

</script>  

{% endblock %} 

