{% extends "layout.html" %}

{% block content %}

<span id="ansDict" style="display:none">{{ansDict}}</span>
<span id="testDict" style="display:none">{{testDict}}</span>
<span id="teamMembers" style="display:none">{{teamMembers}}</span>

<div class="content-section">    
        <h1> Project: {{meta.Title}} </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{meta.M1}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div> 
  
    
</div>

<div id="vue-app">

<div class="content-section">
        <legend class="border-bottom mb-4">Team [[team]] </legend>
        <template> 
		<table align="center">                
                        <th scope="col" v-for="(member, key) in teamOBJ" >				
				<img class="rounded-circle chat-img" :src="member">
				<br>
				[[ key ]]				
			</th>   
		</table>
        </template>     
</div>




<div class="content-section">

<legend class="border-bottom mb-4"> Your Q&A List: </legend>

<template v-for="(item, key) in ansOBJ"> 

<span @click="edit(key)" class="unit-span" :style="qStyle(key)"> &emsp;&emsp;Q[[ key ]]&emsp;&emsp; </span>
<br>
<br>
    
<h6  v-if="item.topic"> [[ item.topic ]] </h6>
<h6  v-if="item.question"> Q: [[ item.question ]] </h6>
<h6  v-if="item.answer"> A: [[ item.answer ]] </h6>
<h6  v-if="item.writer"> By [[ item.writer ]] </h6>
<br>
        <div v-if="marker[key] == 3">        
                <h5>  Edit Q&A [[key]] </h5>   
                Writer: <span :id="key + 'w'" name="writer"> {{current_user.username}} </span>
                <br>
                <br>
                Topic: <input :id="key + 't'" type="text" class="textAss" style="margin-left:5px" v-model="testOBJ[key]['topic']" ></input> 
                <br>
                <br>
                Question
                <br>
                <textarea :id="key + 'q'" class="textAss"  v-model="testOBJ[key]['question']"></textarea> 
                <br>
                Answer
                <br> 
                <textarea :id="key + 'a'" class="textAss"  v-model="testOBJ[key]['answer']"></textarea>         
                <div>  			
                <button  class="btn btn-warning" @click="storeData(key)">Add Q&A</button>
                </div> 
                

        <div>

<br>
</template>  

</div> 
   

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/abc_qna.js')}}"></script>

{% endblock %} 

