{% extends "layout.html" %}

{% block content %}

<span id="projectDict" style="display:none">{{abcDict}}</span>
<span id="examDict" style="display:none">{{examDict}}</span>

<div id="vue-app">

<div class="content-section">    
        <h1> Exam Projects </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div> 
  
    
</div>

<div class="content-section">  

<h3> Project Dash </h3>
    
    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >U</th>  
              <th scope="col" >Title</th>                                  
              <th scope="col" >Team</th>                       
              <th scope="col" >Q&A</th>                       
              <th scope="col" >S&L</th>                       
                                   
            </tr>
        </thead> 
        
        <tbody>
            <template v-for="(proj, unit) in projectOBJ"  >             
                <tr>
                  <td>  
                  {% if current_user.id == 1 %} 
                  <span @click="goTo(unit, 0, 'I')" class="unit-span" style="background:silver;padding:3px"> [[ unit ]] </span>               
                  {% else %}  
                  <span class="unit-span" style="background:coral;padding:3px"> [[ unit ]] </span>
                  {% endif %} 
                  </td>  
                  <td> [[ proj.Title]] </td>  
                  <td> [[ proj.Team]] </td>  
                  <td> 
                      <span v-if="proj.Number == 0"> </span>  &nbsp;
                      <span v-else @click="goTo(unit, proj.Number, 'Q')" class="unit-span" :style="buttonStyle(proj.QTotal, 'snl', 'edit')"> &nbsp;[[proj.QTotal]]/12&nbsp; </span> 
                       <br>
                       <br>
                       
                      <span v-if="proj.QTotal >= 12" @click="goToExam(unit, proj.Number, 'qna')" class="unit-span" :style="buttonStyle(proj.QTest, 'qna', 'check')"> &nbsp;check&nbsp; </span> 
                       <br> 
                  </td>  
                  <td>
                      <span v-if="proj.Number == 0"> </span>  &nbsp;
                      <span v-else @click="goTo(unit, proj.Number, 'S')" class="unit-span" :style="buttonStyle(proj.STotal, 'snl', 'edit')"> &nbsp;[[proj.STotal]]/12&nbsp; </span> 
                       <br>
                       <br>
                        
                      <span v-if="proj.STotal >= 12" @click="goToExam(unit, proj.Number, 'snl')" class="unit-span" :style="buttonStyle(proj.STest, 'snl', 'check')"> &nbsp;check&nbsp; </span> 
                       </td> 
                       <br>      
                </tr>  
            </template> 
        </tbody>   
   
      </table>
    </div>

</div>   

<div class="content-section">  

<h3> Exam Test Board </h3>

<h4 style="color:blue"> Try and do 2 QNA and 2 SNL from each section - Do more if your grades are not great </h4>
    
    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >U</th>                
              <th scope="col" >Q&A</th>                       
              <th scope="col" >Grade</th>                       
              <th scope="col" >S&L</th>  
              <th scope="col" >Grade</th>  
            </tr>
        </thead> 
        
        <tbody>
            <template v-for="(part, unit) in examOBJ"  >  
              <tr style="background:grey">
                  <td colspan="5">  
                    <span class="unit-span" style="background:tomato;padding:3px"> [[ unit ]] </span> 
                  </td> 
              </tr>
                <template v-for="(exam, team) in part" >   

                <tr>
                  <td>  
                    <span class="unit-span" style="background:silver;padding:3px"> [[ team  ]] </span> 
                  </td>                    
                  <td>
                    <span v-if="exam.QTotal > 11" @click="goToExam(unit, team, 'qna')"  class="unit-span" :style="buttonStyle(exam.Qscore, 'qna', 'check')"> &nbsp;QNA&nbsp; </span>  
                    <span v-else @click="" class="unit-span" style="background:lightgrey;padding:3px"> N/A </span>  
                  </td>  
                  <td>
                    [[ exam.Qscore ]]
                  </td>  
                  <td>
                    <span v-if="exam.STotal > 11"  @click="goToExam(unit, team, 'snl')"  class="unit-span" :style="buttonStyle(exam.Sscore, 'snl', 'check')"> &nbsp;SNL&nbsp; </span>  
                    <span v-else @click="" class="unit-span" style="background:lightgrey;padding:3px"> N/A </span>  
                  </td>  
                  <td>
                    [[ exam.Sscore ]]
                  </td>  
                  
                </tr>  
            </template> 
            </template> 
        </tbody>   
   
      </table>
    </div>

</div>   
   

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var projectDict = document.getElementById('projectDict').innerHTML
var OBJ = JSON.parse(projectDict)
console.log('projectOBJ', OBJ);

var examDict = document.getElementById('examDict').innerHTML
var examOBJ = JSON.parse(examDict)
console.log('examOBJ', examOBJ);


startVue(OBJ)

function startVue(OBJ){ 
  
  let vue = new Vue({   

    el: '#vue-app',
    delimiters: ['[[', ']]'],    
    data: {
        projectOBJ: OBJ        
        
    }, 
    methods: {   
        buttonStyle: function(total, mode, style) { 
          if (style == 'edit') { 
            if (total >= 12){
              return { background: 'mediumseagreen', padding:'3px'}
            }
            else{
              return { background: 'goldenrod', padding:'3px'}
            }
          } 
          else if (style == 'check'){
            if (total > 0 ){
              return { background: 'mediumseagreen', padding:'3px'}
            }
            else{
              return { background: 'goldenrod', padding:'3px'}
            }
          }                 
          
        },     
        goTo: function(unit, team, mode) {          
          console.log(mode);
          if (mode == 'Q') {
            var link = '/qna/'                      
          }           
          else if (mode == 'S') {
            var link = '/snl/'                      
          }           
          else { 
            var link = '/make_teams/'  
          }

          // go to HTTPS version
          var str = window.location.href
          let url = (str).split('_list')[0] + link + unit + '/' + team
          console.log('goTO', url);
          window.location = url
            
        },
        goToExam: function(unit, team, mode) {

          // go to HTTPS version
          var str = window.location.href
          let url = (str).split('_list')[0] + '_exam/' + mode + '/' + unit + '/' + team
          console.log('goTO', url);
          window.location = url
            
        }
                  
    }         
})// end NEW VUE



}// endFunction 

</script>  

{% endblock %} 

