{% extends "layout.html" %}

{% block content %}

<div class="content-section">
<h3 style="display: inline-block"> Assignments</h3>
<button id=color type="button" class="btn btn-dark" style="float:right;" disabled value={{color}}>Performance: {{pointCounter}}/{{total}}</button>	
<div >
  <h5> Complete assignments before the deadline to get maximum points</h5> 
  <h5> (30% of final grade)</h5>  
</div>
</div>

<div class="content-section">
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    
    <div style="overflow-x:auto;">
    <table class="table table-sm">
      <thead>
          <tr>
            <th scope="col" style="width: 3px;">Unit</th>                       
            <th scope="col" style="width: 10px;">Title</th>            
            <th scope="col" style="width: 3px;">Due</th>
            <th scope="col" style="width: 20px;">Score</th>      
            <th scope="col" style="width: 20px;"></th>                       
          </tr>
      </thead>

      
          
      {% for i in srcDictList %}      
      <tbody id="body{{i}}">
          <tr style="height:50px;">
            <th scope="row" >{{srcDict[i][0].unit}}</th>                                 
            <td> <a href="{{href}}/{{srcDict[i][0].unit}}">{{srcDict[i][0].title}}</a></td>
            <td> {{srcDict[i][0].assDate.strftime('%b %d')}}</td>            
            <td id="score{{i}}"> {{srcDict[i][1]}}</td>
            <td> {{srcDict[i][2]}}</td>
          </tr>       
      </tbody>      
      
      {% endfor %}
      
      </table>
      </div>

{% endblock content %}

  
{% block script %}         

<script type="text/javascript">

let color = document.getElementById('color').value
let button = document.getElementById('color')

if (color < .4) {
  button.style.background='#E74C3C'; 
} else if (color < .6 ) {
  button.style.background='#E59866'; 
} else if (color < .8 ) {
  button.style.background='#BB8FCE'; 
} else if (color < 1) {
  button.style.background='#17A589'; 
} else {
  button.style.background='#229954'; 
}

for (i = 0; i < 12; i++) {

try {  
  var row = document.getElementById('score'+ i)
  var body = document.getElementById('body'+ i)
  
  if (row.innerHTML == 1) {
    body.style.backgroundColor = "lightblue";
  }
  else if (row.innerHTML == 2) {
    body.style.backgroundColor = "lightgreen";
  }
  else {
    body.style.backgroundColor = "lightcoral";
  }

}
catch(err) {}
}//end for 


</script>

  
{% endblock %} 