{% extends "layout.html" %}

{% block content %}
    
<div class="content-section">    
        <h1 > Assignment {{unit}} </h1>
    </div>
    <div class="content-section">
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source.assSource}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div> 
</div>
        
    {% if fields.Grade == 2 %}
    <div class="content-section">
      <h4> ASSIGNMENT COMPLETED </h4>
    </div>
    {% else %}            
    {% endif %}
    
    <div class="content-section" style="background:pink">
      <h4> Microphone problems? Use <a href="https://{{siteName}}.herokuapp.com/assignments"> https:// </a> to make site secure. Also, disconnect <text style="color:blue"> Bluetooth Earphones</text></h4>
    </div>
    
    <!-- /////////Required JSON Assignment Number///////////////// -->
    <input type="text"  id="assNumber" value="{{unit}}" style="display:none">
    
    <div class="">                              
        <audio id="modelAudio" autoplay src=""></audio> 
    </div>     


        <div class="content-section">   
              <h2 style="display: inline-block"> Task 1 Pronunciation Practice </h2> 
            {% if speechModel.AudioDataOne == "" %}  
            {% else %}           
            <button id="modelBtn1" type="button" class="btn btn-default btn-sm" style="float:right;" value="{{speechModel.AudioDataOne}}" onclick="modelPlay(1)">Instructor <br> Model</button>	
            {% endif %}

            {% if count == 0  %}
            <div class="">                              
                <audio id="audioTask1" src=""></audio> 
            </div>                         
            {% else %}
              <div class="">	
                {% if fields.AudioDataOne != "" %}
                    {% if fields.LengthOne == 888 %}  
                        <div class="">                              
                        <audio id="audioTask1" src=""></audio> 
                    </div>   
                    <div class="">                              
                        <label class="btn btn-lg btn-link" style="margin-left:20px">
                            <a  href="{{fields.AudioDataOne}}" target="_blank">Shared Link 1</a> 
                        </label>
                    </div>                       
                    {% else %}
                    <div class="">                              
                        <audio id="audioTask1" controls src="{{fields.AudioDataOne}}"></audio> 
                    </div>                      
                    {% endif %}
                {% else %}
                    <div class="">                              
                        <audio id="audioTask1" src=""></audio> 
                    </div>  
                {% endif %}
            </div>                                       
            {% endif %}

            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                      <button class="btn btn-success btn-sm" style="width:10rem" type="button" data-toggle="collapse" 
                        data-target="#collapseA1" aria-expanded="flase" aria-controls="collapseA1"
                        onclick="checkTwo(); AnRecord('1'); Source('1')">
                        Android  <!------ANDROID--1---------------------------------------------------------------->
                    </button> 
                  </div>
                  <div id="collapseA1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">                      
                    <h6> *If Chrome doesn't let you use the microphone then it is recommended to use <a href="https://play.google.com/store/apps/details?id=com.brave.browser&hl=en", target="_blank"> Brave Privacy Browser</a></h6>
                    <div class="">				
                        <audio id="android1" type="audio/mpeg"></audio>
                    </div>
                    <br>
                    <div class=row>	
                            <div class="col-sm-6">				
                                <button class="btn btn-success" id="startAn1">Start</button>
                                <button class="btn btn-outline-danger" style="color:white" id="stopAn1" disabled>Stop</button>
                                <button class="btn btn-info" id="saveAn1" disabled>Save</button>
                                <button class="btn btn-secondary-outline" onclick="cancel()">Cancel</button>
                            </div> 
                    </div>
            
                  </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <button class="btn btn-secondary btn-sm" type="button" style="width:10rem" data-toggle="collapse" 
                        data-target="#collapseA2" aria-expanded="false" aria-controls="collapseA2"
                        onclick="checkTwo(); Source('1')">
                        iPhone  <!-----iPHONE--1-------------------------------------------------------------->
                    </button> 
                  </div>
                  <div id="collapseA2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <h6> *Might work for iPhone with iOS11/12 (if fail then please use upload) </h6>
                        <br>	
                        <div class="">				
                            <audio id="GRaudio1" type="audio/mpeg"></audio>
                        </div>  
                        <br>
                        <div class="row">
                            <div class="col-sm-6">				
                                <button class="btn btn-success js-start1">Start</button>
                                <button class="btn btn-danger js-stop1" id="GRstop1" disabled>Stop</button>
                                <button class="btn btn-info js-save1" disabled>Save</button>
                                <button class="btn js-cancel" onclick="cancel()">Cancel</button>
                            </div>
                        </div>
                         <div class="box-section">				
                            <div>
                                <canvas id="canvas1" class="js-volume" width="20" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                  </div>
                </div> 

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <button class="btn btn-primary btn-sm" type="button" style="width:10rem" data-toggle="collapse" 
                        data-target="#collapseA3" aria-expanded="false" aria-controls="collapseA2"
                        onclick="Source('1')">
                        Upload  <!-----UPLOAD-------------------------------------------------------------->
                    </button> 
                  </div>
                  <div id="collapseA3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">               
                        
                          <h6> *Upload files from phone </h6>
                          <div class="">                      
                            <label class="btn btn-secondary btn-info" style="margin-left:10px">
                                <input  type="file" name="options" id="btnUpload1" onchange="fileValidation('1')" > Upload File  <!--accept=audio removed-->
                            </label>
                          </div> 

                          <h6> *Or share a link to your file</h6>
                          <label class="btn btn-default" id="labelLink1">
                                <input name="options" id="linkInput1"></input>
                            </label>   
                            <label class="btn">
                                <button class="btn btn-outline-info btn-sm" type="button" onclick="saveLink('1')"> Save Link </button>                                            
                            </label>
                     </div>
                   </div>
                </div>               
              

              </div> <!---card div --> 
            </div>  <!---content section div --> 
            
<!---//////////////////////////////////////////////////////////////////////////////////////////////////////---->  

            <div class="content-section">   
                <h2 style="display: inline-block"> Task 2 Speaking Practice </h2>  
                {% if speechModel.AudioDataTwo == "" %}  
                {% else %}           
                    <button id="modelBtn1" type="button" class="btn btn-default btn-sm" style="float:right;" value="{{speechModel.AudioDataTwo}}" onclick="modelPlay(1)">Instructor <br> Model</button>	
                {% endif %}            
                                
  
                {% if count == 0  %}
                <div class="">                              
                    <audio id="audioTask2" src=""></audio> 
                </div>                         
                {% else %}
                  <div class="">	
                    {% if fields.AudioDataTwo != "" %}
                        {% if fields.LengthTwo == 888 %}                                                 
                        <div class="">                              
                            <audio id="audioTask2" src=""></audio> 
                        </div>  
                        <div class="">                              
                            <label class="btn btn-lg btn-link" style="margin-left:20px">
                                <a  href="{{fields.AudioDataTwo}}" target="_blank">Shared Link 2</a> 
                            </label>
                        </div>
                        {% else %}
                        <div class="">                              
                            <audio id="audioTask2" controls src="{{fields.AudioDataTwo}}"></audio> 
                        </div>                    
                        <div class="box-section">
                            {% if 20 > form.LengthTwo.data %}  
                            <h4 style="color:red"> Just {{form.LengthTwo.data}} secs <p>(please check)</p>  </h4>
                            {% else %}
                            <h4 style="color:orange"> {{form.LengthTwo.data}} secs </h4>
                            {% endif %}
                        </div>                        
                        {% endif %}
                    {% else %}
                    <div class="">                              
                        <audio id="audioTask2" src=""></audio> 
                    </div>   

                    {% endif %}
                </div>                                       
                {% endif %}
  
              <div class="accordion" >
                  <div class="card">
                    <div class="card-header">
                        <button class="btn btn-success btn-sm" style="width:10rem" type="button" data-toggle="collapse" 
                          data-target="#collapseB1" aria-expanded="flase" aria-controls="collapseB1"
                          onclick="checkOne(); AnRecord('2'); Source('2')">
                          Android  <!-- ANDROID--2-------------------------------------------------------------- -->
                      </button> 
                    </div>
                    <div id="collapseB1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">                      
                      <h6> *If Chrome doesn't let you use the microphone then it is recommended to use <a href="https://play.google.com/store/apps/details?id=com.brave.browser&hl=en", target="_blank"> Brave Privacy Browser</a> </h6>
                    
                      <div class="">				
                          <audio id="android2" type="audio/mpeg"></audio>
                      </div>
                      <br>
                      <div class=row>	
                              <div class="col-sm-6">				
                                  <button class="btn btn-success" id="startAn2">Start</button>
                                  <button class="btn btn-outline-danger" style="color:white" id="stopAn2" disabled>Stop</button>
                                  <button class="btn btn-info" id="saveAn2" disabled>Save</button>
                                  <button class="btn btn-secondary-outline" onclick="cancel()">Cancel</button>
                              </div> 
                      </div>
              
                    </div>
                    </div>
                  </div>
  
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <button class="btn btn-secondary btn-sm" type="button" style="width:10rem" data-toggle="collapse" 
                          data-target="#collapseB2" aria-expanded="false" aria-controls="collapseB2"
                          onclick="checkOne(); Source('2')">
                          iPhone <!-----iPHONE--2-------------------------------------------------------------- -->
                      </button> 
                    </div>
                    <div id="collapseB2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                          <h6> *Might work for iPhone with iOS11/12 (if fail then please use upload) </h6>
                          <br>	
                          <div class="">				
                              <audio id="GRaudio2" type="audio/mpeg"></audio>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-sm-6">				
                                  <button class="btn btn-success js-start2">Start</button>
                                  <button class="btn btn-danger js-stop2" id="GRstop2" disabled>Stop</button>
                                  <button class="btn btn-info js-save2" disabled>Save</button>
                                  <button class="btn js-cancel" onclick="cancel()">Cancel</button>
                              </div>
                          </div>                        
                          <br>
                          <div class="box-section">				
                            <div>
                                <canvas id="canvas2" class="js-volume" width="20" height="100"></canvas>
                            </div>
                        </div>

                      </div>
                    </div>                    
                  </div>

<div class="card">
                  <div class="card-header" id="headingTwo">
                    <button class="btn btn-primary btn-sm" type="button" style="width:10rem" data-toggle="collapse" 
                        data-target="#collapseB3" aria-expanded="false" aria-controls="collapseB2"
                        onclick="Source('2')">
                        Upload  <!-----UPLOAD2-------------------------------------------------------------->
                    </button> 
                  </div>
                  <div id="collapseB3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">               
                        
                          <h6> *Upload files from phone </h6>
                          <div class="">                      
                            <label class="btn btn-secondary btn-info" style="margin-left:10px">
                                <input  type="file" name="options" id="btnUpload2" onchange="fileValidation('2')" > Upload File  <!--accept=audio removed-->
                            </label>
                          </div> 

                          <h6> *Or share a link to your file</h6>
                          <label class="btn btn-default" id="labelLink2">
                                <input name="options" id="linkInput2"></input>
                            </label>   
                            <label class="btn">
                                <button class="btn btn-outline-info btn-sm" type="button" onclick="saveLink('2')"> Save Link </button>                                            
                            </label>
                     </div>
                   </div>
                </div>               
              

              </div> <!---card div --> 
            </div>  <!---content section div -->         
             
          
            
            <!--   ----------------------------------------------------------------    -->      

              <form method="POST" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
              
                  
                  <fieldset class="form-group">                           
                          <div class="content-section">                                 
                                <div class="form-group"> 
                                        {{ form.Notes.label (class="form-control-label")}} <p>(if you would like to make notes to help your speaking or review)</p>
                                        {{ form.Notes(class="form-control form-control-lg")}}                                      
                                </div> 
          
                                      <div style="display:none">
                                          <div class="form-group"> 
                                              {{ form.AudioDataOne.label (class="form-control-label")}}                            
                                              {{ form.AudioDataOne(class="form-control form-control-lg", id="audioData01")}}                                                       
                                          </div>
                                          <div class="form-group"> 
                                              {{ form.LengthOne.label (class="form-control-label")}}                            
                                              {{ form.LengthOne(class="form-control form-control-lg", id="audioLen01")}}                                                       
                                          </div>                                           
                                          <div class="form-group"> 
                                              {{ form.AudioDataTwo.label (class="form-control-label")}}                            
                                              {{ form.AudioDataTwo(class="form-control form-control-lg", id="audioData02")}}                                                      
                                          </div>
                                          <div class="form-group"> 
                                              {{ form.LengthTwo.label (class="form-control-label")}}                            
                                              {{ form.LengthTwo(class="form-control form-control-lg", id="audioLen02")}}                                                       
                                          </div>                                           
                                            
                                                                         
                                      </div> 
                          </div>
          
                          <div class="content-section">
                              <h2> Task 3 Writing Practice </h2>
                                    <div class="form-group"> 
                                      {{ form.TextOne.label (class="form-control-label")}}
                                          {% if form.TextOne.errors %}
                                              {{ form.TextOne (class="form-control form-control-lg is-invalid")}}  <!-- is invalid is the class-->
                                              <div class="invalid-feedback">
                                                  {% for error in form.TextOne.errors %}
                                                      <span>Error Occurred</span>
                                                  {% endfor %}
                                              </div>                          
                                          {% else %}
                                              {{ form.TextOne(class="form-control form-control-lg", onfocus="checkOne(); checkTwo()")}}
                                          {% endif %}                           
                                    </div>
                              
                                    <div class="form-group"> 
                                        {{ form.TextTwo.label (class="form-control-label")}}
                                            {% if form.TextTwo.errors %}
                                                {{ form.TextTwo (class="form-control form-control-lg is-invalid")}}  <!-- is invalid is the class-->
                                                <div class="invalid-feedback">
                                                    {% for error in form.TextTwo.errors %}
                                                        <span>Error Occurred</span>
                                                    {% endfor %}
                                                </div>                          
                                            {% else %}
                                                {{ form.TextTwo(class="form-control form-control-lg")}}
                                            {% endif %}                           
                                    </div>
          
                              <div class="form-group">
                                  {{ form.Submit(class="btn btn-info", id="submit")}}
                              </div>
                          </div>
                  </fieldset>  
              </form>
          
          </div>   
             
    {% endblock content %}

     
    {% block script %}    

    <script type="text/javascript" src="{{url_for('static', filename= 'js/Mp3LameEncoder.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'js/GRrec.js')}}"></script>   
    <script type="text/javascript" src="{{url_for('static', filename= 'js/RecUp.js')}}"></script>  
    
      
    {% endblock %} 
      
    
  
 