{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <legend class="border-bottom mb-4">Performance</legend>
    
    <table class="table table-sm">
      <thead>
          <tr>
            <th scope="col" style="width: 3px;">Name</th>          
            <th scope="col" style="width: 20px;">Units</th>      
            <th scope="col" style="width: 20px;">Assignments</th>                       
          </tr>
      </thead>
       
      <tbody>
          <tr>
            <td> {{current_user.username}}</td>   
            <td> <button id="units"  class="btn btn-dark btn-lg"  disabled value={{unitGrade}}></button></td>            
            <td> <button id="asses"  class="btn btn-dark btn-lg"  disabled value={{assGrade}}></button></td>            
          </tr>       
      </tbody>
    </table>      
</div>

<div id="vue-app">

<div class="content-section">
<legend class="border-bottom mb-4">Exam Review</legend>


    
    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >Units</th>  
              <th scope="col" >Completed</th>
              <th scope="col" >Scores(/5)</th>                       
            </tr>
        </thead> 
        
        <tbody>         
         <tr>
            <td><span @click="goTo('1-2', 'review')" class="unit-span" style="background:{{theme}}; height:40px"> &nbsp&nbsp 1-2 &nbsp&nbsp  </span></td>
            <td>[[ reviewOBJ['1-2'].length ]]</td>
            <td><span v-for="score in reviewOBJ['1-2']">[[score]], </span> </td>
        </tr>
            
        </tbody>   
   
      </table>
    </div>

</div>  

<div class="content-section" style="background:lightpink">
<legend class="border-bottom mb-4">Game Zone</legend>
    
    <h1> <a href="https://pacific-peak-01747.herokuapp.com/"> Test your vocabulary </a> <h1>

</div> 
   

</div> <!-- end of Vue app -->

<span id="reviewDict" style="display:none">{{reviewData}}</span>
<span id="examDict" style="display:none">{{examData}}</span>

{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var buttons = {
  'asses' : 'asses' , 
  'units' : 'units' 
}

for (var i in buttons){
  console.log(i);

let button = document.getElementById(i)
let color = button.value

    if (color < .4) {
      button.style.background='#E74C3C'; 
    } else if (color < .6 ) {
      button.style.background='#E59866'; 
    } else if (color < .8 ) {
      button.style.background='#BB8FCE'; 
    } else if (color < 1) {
      button.style.background='#17A589'; 
    } else {
      button.style.background='#229954'; 
    }
}


var reviewDict = document.getElementById('reviewDict').innerHTML
var reviewOBJ = JSON.parse(reviewDict)
console.log('Review', reviewOBJ);

var examDict = document.getElementById('examDict').innerHTML
var examOBJ = JSON.parse(examDict)
console.log('Exam', reviewOBJ);


startVue()

function startVue(){ 
  
  let vue = new Vue({   

    el: '#vue-app',
    delimiters: ['[[', ']]'],

    data: {
        reviewOBJ: reviewOBJ,   
        examOBJ: examOBJ,   
    }, 
    methods: {        
        goTo: function(unit, test){
          var str = window.location.href
          
          let url = (str).split('exam_list')[0] + 'exams/' + test + '/' + unit
          console.log('goTO', url);
          window.location = url
         
        }
                  
    }         
})// end NEW VUE



}// endFunction 

</script>  

{% endblock %} 

