{% extends "layout.html" %}

{% block content %}
<!--Header of page____________________________________-->
<div class="content-section">    
	<h1 > {{source.title}} (Q:{{qNumber}})</h1>
</div>

<!-- -->
{% if current_user.username == 'Chris' %}
<div class="content-section">    
	<h3 > <a href="/answers/{{source.unit}}/{{source.part}}/{{source.form}}/{{qNumber}}">Instructor Mode</a> </h3>
</div>
{% endif %}

<div class="content-section">    
        <h5 > Notes </h5>   
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source.notes}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div> 
</div>


	<button type="button" class="btn" style="background:grey; color:white; width:100%" data-toggle="collapse" data-target="#notes">See All Questions</button>
	<br>
<div class="collapse" id="notes">

{% for data in jdata %}
	{% if data | int  < qNumber+1 %}
<div class="content-section" style="background:whitesmoke"> 
<h2 style="color:blue" align="center"> {{data}}: {{jdata[data]['w']}} <h2> 
<h3 style="color:{{titleColor}}" align="center"> {{jdata[data]['e']}} </h3> 
<h4 style="color:hotpink" align="center"> {{jdata[data]['d']}} </h4> 
<div align="center">
<img style="max-width:100%"  src="{{jdata[data]['i']}}"> 
</div> 
<h4 align="center"><a href="{{jdata[data]['l']}}" > {% if jdata[data]['l'] %} Link {% endif %} </a></h4>
{% if jdata[data]['f'] %}
<div class="embed-responsive embed-responsive-4by3">
	<iframe src="{{jdata[data]['f']}}" 
		allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	</iframe>
</div>
{% endif %}
<h4 style="" align="center"> {{jdata[data]['x']}} </h4> 
<h4 align="center"> <text style="background:{{titleColor}}; color:{{bodyColor}}"> {{jdata[data]['q']}} </text> </h4> 
{% for choice in jdata[data]['c']%}
		<h4 style="" align="center"> {{choice}} </h4> 	
{% endfor %}
</div> 
	{% endif %}

{% endfor %}

</div>

<br>


<!--Form of the page_________________________________-->
<form method="POST" action="" enctype="multipart/form-data">
	{{ form.hidden_tag() }}	

	<fieldset class="form-group"> 


	<button type="button" class="btn" style="background:white; color:{{titleColor}}; border:2px solid {{titleColor}}; width:100%" data-toggle="collapse" data-target="#answers">See Answers</button>
	<br>
<div class="collapse" id="answers">

{% for i in range(1,qNumber+1) %}
		{% if fieldsList[i] != "" %}

	<div class="content-section" style="background:white">
		<button type="button" class="btn btn-sm" data-toggle="collapse" data-target="#table{{i}}" style="background:{{bodyColor}}; color:{{titleColor}}; border:2px solid {{titleColor}}; float:right">Answers</button>
		<h2 style="color:blue" style=""> {{i}}: {{jdata[i|string]['w']}} <h2>
		
					 
		<h4 style="background:{{titleColor}}; color:{{bodyColor}}"> {{jdata[i|string]['q']}} </h4> 
		{% for choice in jdata[i|string]['c']%}
		<h4 style=""> {{choice}} </h4> 	
		{% endfor %}	
	</div> 

		
			<div id="table{{i}}" class="collapse">			
			<table class="table table-sm" style="background:white" >
			<tbody>				
				{% for j in range(dictCount) %}
				<tr>
				<th>{{ ansDict[j][0] }}</th>
				<th>{{ ansDict[j][i] }}</th>
				</tr>
				{% endfor %}
			</tbody>
			</table>	
			</div>
		{% endif %}	
			
							
		{% endfor %}

</div>

<br>
<br>

<!--Questions the page_________________________________-->

		{% for i in range(1,qNumber+1) %}

		{% if i == ansSum +1 %}
		<div class="content-section" style="background:lavenderblush"> 
			<h2 style="color:blue" align="center"> {{i}}: {{jdata[i|string]['w']}} <h2> 

			<h3 style="color:{{titleColor}}" align="center"> {{jdata[i|string]['e']}} </h3> 

			<h4 style="color:hotpink; width:50%%" align="center"> {{jdata[i|string]['d']}} </h4> 

			<div align="center">
				<img style="max-width:100%"  src="{{jdata[i|string]['i']}}"> 
			</div> 

			<h4 align="center"><a href="{{jdata[i|string]['l']}}" > {% if jdata[i|string]['l'] %} Link {% endif %} </a></h4>

			<h4 style="" align="center"> {{jdata[i|string]['x']}} </h4> 
			<h4 style="background:{{titleColor}}; color:{{bodyColor}}" align="center"> {{jdata[i|string]['q']}} </h4> 
			{% for choice in jdata[i|string]['c']%}
			<h4 style=""> {{choice}} </h4> 	
			{% endfor %} 
		</div> 
		
		<section class="content-section">
			<h3 style="display: inline-block"> Question {{i}} </h3>
			<button type="button" class="btn btn-sm" onclick="sendAnswer()" style="float:right">Submit</button>			
		<div class="form-group" style="display:visible">
		{% else %}
		<div class="form-group" style="display:none">
		{% endif %}

				{% if formList[i].errors %}
					{{ formList[i] (class="form-control form-control-lg is-invalid")}}  <!-- is invalid is the class-->
					<div class="invalid-feedback">
						{% for error in formList[i].errors %}
							<span>Error Occurred</span>
						{% endfor %}
					</div>                          
						{% else %}
							{{ formList[i](class="form-control form-control-lg")}}
						{% endif %}                           
				
		</div>
					
			
		</section>					
		{% endfor %}

		<section class="content-section" style="display:none">
		<div class="form-group">
			{{ form.submit(class="btn btn-info", id="submit")}}
		</div>
		</section>
	</fieldset>  
</form>



{% endblock content %}


{% block script %}
<script>

function sendAnswer(){
    $("#submit").click();    
}

function reloadIFrame() {
	document.getElementById("questions_embed").src = document.getElementById("questions_embed").src	
}


</script>

{% endblock %}