{% extends "layout.html" %}

{% block content %}

<span id="Table" style="display:none">{{Dict}}</span>
<span id="Schema" style="display:none">{{SCHEMA}}</span>
<span id="max" style="display:none">{{max}}</span>
<span id="Grade" style="display:none">{{Grade}}</span>
<span id="unit" style="display:none">{{todays_unit}}</span>
<span id="attend" style="display:none">{{student_attendance}}</span>

<div id="vue-app">

<div class="content-section" :style="headStyle()" v-if="schema !=9">
<h3 style="display: inline-block"> Participation: {{Grade}}/{{max}} </h3>

  <div>
    <h5> Join a team in class to do the work or complete by yourself before the deadline</h5>
    <h5> (30% of final grade)</h5>
  </div>

</div>

<div class="content-section" v-else>

  <div>
    <h5> Join a team in class to do the work or complete by yourself before the deadline</h5>
    <h5> (30% of final grade)</h5>
  </div>

</div>

<div class="content-section">

    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" ></th>
              <th scope="col" ></th>
              <th scope="col" ></th>
            </tr>
        </thead>

        <tbody>
        <template v-for="(fullUnit, number) in unitOBJ" >
          <tr style="background:khaki">
            <td colspan ="3">
            {% if current_user.id == 1 %}
            <span @click="openUnit('xx-0', number)" class="unit-span" style="color:darkkhaki;background:yellow;padding:3px; margin-left:10px"> &emsp;&emsp;[[ number ]]&emsp;&emsp; </span>
                    {% else %}
                <span style="">Unit [[ number ]] </span>
                    {% endif %}
            </td>
          </tr>

            <template v-for="(unit, key) in fullUnit"  :key="key" >
                <tr :bgcolor="bgStyle(unit.Grade)">

                  <td>
                    <span v-if="unit.Access == 2" @click="optionsClick(key)" class="unit-span" :style="btnStyle(unit.Grade)"> &emsp;&emsp;[[  key ]]&emsp;&emsp; </span>
                    <span v-if="unit.Access == 0" style="background:silver;padding:3px"  class="unit-span"> [[  key  ]] disabled </span>
                    <span v-if="unit.Access == 1"  @click="optionsClick(key)"  class="unit-span" style="background:blue"> &emsp;&emsp;[[  key ]]&emsp;&emsp; </span>
                  </td>

                  <td colspan ="2">
                  {% if current_user.id == 1 %}
                    <span @click="goTo(key, 'Instructor' )" class="unit-span" style="background:silver;padding:3px; margin-left:5px"> Instructor </span>
                    <span @click="openUnit(key, number)" v-if="opens[key] == false" class="unit-span" style="background:royalblue;padding:3px; margin-left:10px"> Open </span>
                  {% else %}
                    <span style="">[[  getComment(unit.Comment)  ]] </span>
                  {% endif %}
                  </td>

                </tr>

                <tr v-if="options[key]">
                  <td >
                    <span   v-if="unit.Grade > 0" @click="goTo(key, 'Writer' )" class="unit-span" style="background:thistle; padding:3px; margin-left:10px"> Answers </span>
                    <!-- <span   V-else @click="goTo(key, 'Writer' )" class="unit-span" style="background:blue; padding:3px; margin-left:10px"> Writer </span>
                    <span   @click="goTo(key, 'Reader' )" class="unit-span" style="background:goldenrod; padding:3px; margin-left:10px"> Reader </span> -->
                    <span   v-else-if="(parseInt(todays_unit) && attend == 1) || (todays_unit == 0  && attend == 1) " @click="goTo(key, 'Team' )" class="unit-span" style="background:green; padding:3px; margin-left:10px"> TeamWork </span>
                    <span   V-else @click="goTo(key, 'Writer' )" class="unit-span" style="background:Orange; padding:3px; margin-left:10px"> Solo </span>

                    </td>
                  <td colspan='2'>
                    <!--<span style="color:tomato">Choose 1 writer </span> -->
                  </td>
                </tr>

                <tr>
                  <td @click="preview(key)"> <span style="background:whitesmoke">[[  unit.Title  ]] </span>     </td>
                  <td> [[  unit.Deadline  ]] </td>
                  <td > [[  unit.Grade  ]] </td>
                </tr>

                <tr>
                <td colspan ="3">
                    <div  class="embed-responsive embed-responsive-4by3" v-if="prevs[key]">
                        <iframe   :src="unit.Source"
                            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                        </iframe>
                    </div>
                  </td>
                </tr>
            </template>

        </template>

        </tbody>

      </table>
    </div>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var Table = document.getElementById('Table').innerHTML
var todays_unit = document.getElementById('unit').innerHTML
console.log(unit);
var Schema = document.getElementById('Schema').innerHTML
console.log(Schema);
var attend = document.getElementById('attend').innerHTML
console.log(attend);
var OBJ = JSON.parse(Table)
console.log('unitOBJ', OBJ);
var max = parseInt(document.getElementById('max').innerHTML)
var Grade = parseInt(document.getElementById('Grade').innerHTML)


if (Schema == 9 && OBJ['01']) {
  delete OBJ['01']
  console.log('LNC course has unit 01 deleted')
}
console.log(navigator.userAgent);

if (Grade > 0){
  var colorFloat = Grade / max
  console.log('1', colorFloat);
}
else{
  var colorFloat = 0
  console.log('0', colorFloat);
}

let prevs = {}
let options = {}
let opens = {}
for (var number in OBJ){
    for (var key in OBJ[number]){
        prevs[key] = false
        options[key] = false
        opens[key] = false
      }
}


startVue(OBJ, colorFloat, prevs, options, opens)

function startVue(unitOBJ, colorFloat, prevs, options, opens){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
        for (var unit in this.unitOBJ){
          if (this.unitOBJ[unit]['Access'] > 0) {
            this.opens[unit] = true
          }
        }
    },
    data: {
        schema: Schema,
        unitOBJ: unitOBJ,
        colorFloat: colorFloat,
        show: false,
        prevs: prevs,
        options: options,
        opens: opens,
        todays_unit: todays_unit,
        attend: attend,

    },
    methods: {
        getComment: function (jString) {
          if (jString.includes('{')) {
            let obj = JSON.parse(jString)
            if (obj['status']) {
              return obj['status']
            } else {
              return ''
            }
          } else {
            return ''
          }
        },
        headStyle: function(){
            if (colorFloat < .4) {
                var background ='salmon';
              } else if (colorFloat < .6 ) {
                var background ='lightpink';
              } else if (colorFloat < .8 ) {
                var background ='peachpuff';
              } else if (colorFloat < 1) {
                var background ='lemonchiffon';
              } else {
                var background ='honeydew';
              }
            return {background : background }
        },
        bgStyle: function(grade){
            if (grade == 1) {
                background = "lightblue";
              }
              else if (grade == 2) {
                background = "lightgreen";
              }
              else {
                background = "mistyrose";
              }

            return background
        },
        btnStyle: function(grade){
            if (grade == 1) {
                background = "blue";
              }
              else if (grade == 2) {
                background = "green";
              }
              else {
                background = "darksalmon";
              }

            return { background : background }
        },
        preview: function(key){
          console.log('preview', key );
          if (this.prevs[key] == true){
            for (var part in this.prevs){
            this.prevs[part] = false
            }

          }
          else{
            for (var part in this.prevs){
            this.prevs[part] = false
            }
            this.prevs[key] = true
          }

        },
        optionsClick: function(key){
          console.log('options', key );
          if (this.options[key] == true){
            for (var part in this.options){
            this.options[part] = false
            }
          }
          else{
            for (var part in this.options){
            this.options[part] = false
            }
            this.options[key] = true
          }
        },
        goTo: function(key, state){
          let url = (window.location.href).split('unit_list')[0] + 'participation/' + key[0] + key[1] + '/' + key[3] + '/' + state

          console.log('goTO', url);
          // action
          window.location = url
        },
        openUnit: function(key, number){
          console.log(key, number);
          $.ajax({
          data : {
              key : key,
              number : number,
          },
          type : 'POST',
          url : '/openUnit'
          })
          .done(function(data) {
            if (key == 'xx-0'){
              location.reload()
            }
            else{
              console.log(data.key);
              vue.opens[data.key] = true
              unitOBJ[number][data.key]['Access'] = 2
              console.log(vue.opens);
            }

          })
          .fail(function(){
            alert('Failed, check server')
          });


        }

    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

