{% extends "layout.html" %}

{% block content %}
<!--Header of page____________________________________-->
<div class="content-section">    
	<h1 > {{source.title}} (Q:{{qNumber}})</h1>
</div>


<div class="content-section"> 
        <h5 > Notes </h5>   
    <div class="embed-responsive embed-responsive-4by3">
            <iframe id="questions_embed" src="{{source.notes}}"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	        </iframe>
    </div> 
</div>

{% for data in jdata %}
	{% if data | int  < qNumber+1 %}
<div class="content-section" style="background:whitesmoke"> 
<h2 style="color:blue" align="center"> {{data}}: {{jdata[data]['w']}} <h2> 
<h3 style="color:{{titleColor}}" align="center"> {{jdata[data]['e']}} </h3> 
<h4 style="color:hotpink" align="center"> {{jdata[data]['d']}} </h4> 
<div align="center">
<img style="max-width:100%"  src="{{jdata[data]['i']}}"> 
</div> 
<h4 align="center"><a href="{{jdata[data]['l']}}" > {% if jdata[data]['l'] %} Link {% endif %} </a></h4>
{% if jdata[data]['f'] %}
<div class="embed-responsive embed-responsive-4by3">
	<iframe src="{{jdata[data]['f']}}" 
		allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
	</iframe>
</div>
{% endif %}
<h4 style="" align="center"> {{jdata[data]['x']}} </h4> 
<h4 align="center"> <text style="background:{{titleColor}}; color:{{bodyColor}}"> {{jdata[data]['q']}} </text> </h4> 
{% for choice in jdata[data]['c']%}
		<h4 style="" align="center"> {{choice}} </h4> 	
{% endfor %}
</div> 
	{% endif %}

{% endfor %}



<br>












{% endblock content %}


{% block script %}
<script>






</script>

{% endblock %}