{% extends "layout.html" %}

{% block content %}


<div class="content-section">

	<h2> Microphone Test</h2>
<br>
  <h4> Allow you browser to use the microphone so you can easily do assignments.</h4>

</div>


{% endblock content %}

{% block script %}
<script>

navigator.mediaDevices.getUserMedia({ audio: true })
      .then(function(stream) {
        console.log('You let me use your mic!')
      })
      .catch(function(err) {
        console.log('No mic for you!')
	  });

</script>

{% endblock %}