{% extends "layout.html" %}

{% block content %}

<div class="content-section"> 
    <legend class="border-bottom mb-4">Controls</legend>   

<button class="btn btn-outline-secondary"><a href="{{ url_for ('students')}}", target="_blank">Students</a></button>
<button class="btn btn-outline-secondary"><a href="{{ url_for ('att_log')}}", target="_blank">Att_Log</a></button>
<button class="btn btn-outline-secondary"><a href="{{ url_for ('teams') }}", target="_blank">Teams</a></button>
<button class="btn btn-outline-secondary"><a href="{{ url_for ('admin') }}", target="_blank">Admin</a></button>
<button class="btn btn-outline-secondary"><a href="{{ url_for ('dashboard') }}", target="_blank">Dashboard</a></button>


</div>

<div class="content-section">
   <legend class="border-bottom mb-4">JUST LINKS</legend>
    <a href='https://affairs.just.edu.tw/TeacherStuApp/Default.aspx'> Attendance</a>
    <a href='http://deanapp.just.edu.tw/teacher/Default.aspx'>Syllabus</a>
    <a href='https://md.just.edu.tw/login/index.php'>Moodle</a>
    <a href='https://hrapp.just.edu.tw/hr_personal/Default.aspx'>Personnel</a>          
      
</div>   
    

<div class="content-section">     <legend class="border-bottom mb-4">Attendance Set Up</legend>       



    <form method="POST" action=""> 
            {{ form.hidden_tag () }}        
        <fieldset class="form-group">
        
        
        
            <div class="form-group"> 
                {{ form.username.label (class="form-control-label")}}</br>                    
                {{ form.username(class="form-control form-control-lg")}}                 
            </div>

            <div class="form-group"> 
                {{ form.studentID.label (class="form-control-label")}}</br>
                {{ form.studentID(class="form-control form-control-lg")}}                     
            </div>

            <div class="form-group"> 
                {{ form.attend.label (class="form-control-label")}}</br>
                {{ form.attend(class="form-control form-control-lg")}}                     
            </div> 

            Current Status: {{status}}

            <div class="form-group"> 
                {{ form.teamnumber.label (class="form-control-label")}}</br>
                {{ form.teamnumber(class="form-control form-control-lg")}}                     
            </div>               

            
            <div class="form-group"> 
                {{ form.teamsize.label (class="form-control-label")}}</br>
                {{ form.teamsize(class="form-control form-control-lg")}}                     
            </div>  

            <div class="form-group"> 
                {{ form.teamcount.label (class="form-control-label")}}</br>
                {{ form.teamcount(class="form-control form-control-lg")}}                     
            </div> 

            <div class="form-group"> 
                {{ form.unit.label (class="form-control-label")}}</br>
                {{ form.unit(class="form-control form-control-lg")}}                     
            </div>    


        </fieldset> 
        <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary")}}
        </div>
    </form>
</div>



{% endblock content %}