{% extends "layout.html" %}

{% block content %}

<div id="vue-app">

<span id="attend_string" style="display:none">{{attend_list}}</span>
<span id="team_string" style="display:none">{{team_list}}</span>
<span id="set_string" style="display:none">{{setString}}</span>
<span id="schema" style="display:none">{{SCHEMA}}</span>

<div class="content-section" :style="controlStyle()">
     <legend class="border-bottom mb-4">Controls</legend>


<button class="btn btn-info" @click="setAtt()"> Set Att </button>
Notice <input type="text" class="textAss" id="notice" style="margin-left:5px" v-model="setOBJ.Notice"></input>
&nbsp&nbsp&nbsp
Unit
<select id="unit" name="units" v-model="setOBJ.Unit">
<template v-for="i in unit_list">
    <option :value="i">[[i]]</option>
</template>
</select>
&nbsp[[setOBJ.Unit]]&nbsp&nbsp
Set:
<select id="set" name="cars" v-model="setOBJ.Set_mode">
    <option value="97">Closed</option>
    <option value="98">Open</option>
    <option value="99">Late</option>
    <option value="50">Review</option>
    <option value="51">Review Late</option>
    <option value="100">Clear</option>
</select>
&nbsp[[setOBJ.Set_mode]]&nbsp&nbsp
Teamcount
<select id="teamcount" name="cars" v-model="setOBJ.Count">
<template v-for="i in team_list">
    <option :value="i">[[i]]</option>
</template>
</select>
&nbsp[[setOBJ.Count]]&nbsp&nbsp
Teamsize
<select id="teamsize" name="cars" v-model="setOBJ.Size">
<template v-for="i in size_list">
    <option :value="i">[[i]]</option>
</template>
</select>
&nbsp[[setOBJ.Size]]&nbsp&nbsp

<br>
<br>
<a href='https://affairs.just.edu.tw/TeacherStuApp/Default.aspx'> Attendance</a>
&nbsp
<button class="btn btn-outline-secondary" @click="gotoAdmin('user')">User: Semester: {{current_user.extra}}</button>
<button class="btn btn-outline-secondary" @click="gotoAdmin('attendlog')">AttLog</button>
<button class="btn btn-outline-secondary" @click="gotoAdmin('attendance')">Attendance</button>
<button class="btn btn-outline-secondary" @click="gotoAdmin('att_log')">Log</button>
<button class="btn btn-outline-secondary" @click="gotoAdmin('units')">Mode: {{MTFN}}</button>
<br>
<br>
<button class="btn btn-outline-secondary" @click="attOBJ({{SCHEMA}})"> GET RECORDS </button>
<br>
[[varString]]
<br>
[[forString]]

<div v-if="schemaList.includes(SCHEMA)">
<input type="text" class="textAss" style="margin-left:5px" v-model="addID"></input>
<button class="btn btn-outline-secondary" @click="studentAdd('model')"> Enter </button>
</div>

</div>

<div class="content-section">
        <legend class="border-bottom mb-4">Students</legend>
      <button class="btn btn-sm btn-success" @click="refreshAttend()"> Refresh </button> </td>
    <br>
    <br>
    <div style="overflow-x:auto;width:80%">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >Img</th>
              <th scope="col" >Num</th>
              <th scope="col" >Name</th>
              <th scope="col" >ID</th>
              <th scope="col" >att</th>
              <th scope="col" >email</th>
              <th v-if="schemaList.includes(SCHEMA)" scope="col" >remove</th>
            </tr>
        </thead>

        <tbody>
        <template v-for="(user, key) in attendOBJ">
            <tr>
              <td> <img class="rounded-circle small-img" :src="user.img"></td>
              <td> [[ user.count ]] </td>
              <td> [[ user.nme ]] </td>
              <td :style="idStyle(key)"> [[ key ]] </td>
              <td :style="attStyle(user.att)"> [[ user.att ]] </td>
              <td> <a :href="user.eml">Email</a> </td>
              <td v-if="schemaList.includes(SCHEMA)" > <span :style="getStyle(key)" class="unit-span" @click="studentAdd(key)" > &nbsp [[getMark(key)]] &nbsp </span> </td>
              <!-- <td>  <span class="unit-span" v-for="i in 4" @click="studentRemove(user.nme, i)" > [[i]] </span> </td> -->

            </tr>
        </template>
        </tbody>

      </table>
    </div>

</div>

<div class="content-section">
        <legend class="border-bottom mb-4">Teams</legend>
        <button class="btn btn-sm btn-danger" @click="deleteSet()"> Delete </button> </td>
    <br>
    <br>
    <div style="overflow-x:auto;width:80%">
      <table class="table table-sm">

        <tbody>
        <template v-for="(team, number) in teamOBJ">
            <tr>
              <td> [[ number ]] </td>
              <template v-for="mem in team">
              <td>
               <button :class="deleteClass" @click="studentRemove(mem, 0)">[[ mem ]]</button>
                </td>
              </template>
            </tr>
        </template>

        </tbody>

      </table>
    </div>

</div>




</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var attend_list = document.getElementById('attend_string').innerHTML
var attendOBJ = JSON.parse(attend_list)
console.log('AttOBJ', attendOBJ);
var team_list = document.getElementById('team_string').innerHTML
var teamOBJ = JSON.parse(team_list)
console.log('teamOBJ', teamOBJ);
var set_list = document.getElementById('set_string').innerHTML
var setOBJ = JSON.parse(set_list)
console.log('setOBJ', setOBJ);
var SCHEMA = document.getElementById('schema').innerHTML
console.log('schema', SCHEMA);


startVue()

function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
      if (this.schemaList.includes(this.SCHEMA)) {
        this.studentAdd('111111111')
      }
    },
    data: {
        SCHEMA : parseInt(SCHEMA),
        schemaList : [1,2,10],
        attendOBJ : attendOBJ,
        teamOBJ : teamOBJ,
        setOBJ : setOBJ,
        addID : '',
        deleteMode : false,
        unit_list : ['RR','00', '01','02','03','04','05','06','07','08','09', '10'],
        size_list : ['4','0','3','5'] ,
        team_list : ['3', '4', '5','6', '7','8','9', '10','11','12','13','14','15','16','17','18','19','20'],
        recordOBJ : {},
        varString : null,
        forString : null,
        marks : {}
    },
    methods: {
        gotoAdmin: function (target) {
          let breaker = ''
          if (target != 'att_log') {
            breaker = 'admin/'
          }
          var str = window.location.href
          let url = (str).split('controls')[0] + breaker + target
          window.open(url, '_blank')
        },
        controlStyle: function () {
          if (this.setOBJ.Set_mode == '97') {
            return "background:gold"
          } else {
            return "background:lightgreen"
          }
        },
        attOBJ: function(schema) {

          if (schema == 1){
            var time1 = '_3_1'
            var time2 = '_4_1'
          }

          if (schema == 2){
            var time1 = '_6_1'
            var time2 = '_7_1'
          }

          if (schema == 5){
            var time1 = '_6_1'
            var time2 = '_7_1'
          }

          if (schema == 4){
            var time1 = '_8_1'
            var time2 = '_9_1'
          }

          if (schema == 9){
            var time1 = '_6_1'
            var time2 = '_7_1'
          }

          if (schema == 10){
            var time1 = '_6_1'
            var time2 = '_7_1'
            var time3 = '_8_1'
          }

          console.log('start', schema);
          console.log(vue.attendOBJ);

          for (var student in vue.attendOBJ){

            if (vue.attendOBJ[student]['att'] == 'Absent'){
              vue.recordOBJ[student] = ['DDList' + student + time1, 'DDList' + student + time2]
            }
            if (vue.attendOBJ[student]['att']  == 'Unregistered'){
              vue.recordOBJ[student] = ['DDList' + student + time1, 'DDList' + student + time2]
            }

            if (schema == 10) {
              vue.recordOBJ[student].push('DDList' + student + time3)
            }

          }
          this.varString = 'var obj =' + JSON.stringify(vue.recordOBJ)
          this.forString = 'for (var student in obj){ if (document.getElementById(obj[student][0])){ document.getElementById(obj[student][0]).checked=true; document.getElementById(obj[student][1]).checked=true}}'

        },
        setAtt: function() {

          this.setOBJ['notice'] = document.getElementById('notice').value
          // vanila js
          var e = document.getElementById('unit')
          this.setOBJ['unit'] = e.options[e.selectedIndex].value

          this.setOBJ['set_mode'] = $("#set :selected").val();
          this.setOBJ['teamsize'] = $("#teamsize :selected").val();
          this.setOBJ['teamcount'] = $("#teamcount :selected").val();

          console.log(this.setOBJ);

            $.ajax({
              data : {
                setOBJ : JSON.stringify(this.setOBJ),
              },
              type : 'POST',
              url : '/updateSet',
            })
            .done(function(data) {
              var _this = this
              vue.setOBJ = JSON.parse(data.setString)
              if (data.set_mode == 98) {
                let url = (window.location.href).split('controls')[0] + 'att_team'

                console.log('goTO', url);
                // action
                window.location = url
              } else {
                alert('Attendance Updated: STATUS ' + data.set_mode)
              }
            })
            .fail(function(){
                alert('error has occurred');

            });
        },
        attStyle: function(att) {
          if (att == 'Absent') {
            return { background:'lightcoral'}
          }
          else if (att == 'On time') {
            return { background:'mediumseagreen'}
          }
          else if (att == 'Late') {
            return { background:'lightgrey'}
          }
        },
        idStyle: function(id) {
          if (id.includes('1208')) {
            return { background:'pink'}
          }
          else if (id.includes('105')) {
            return { background:'mediumseagreen'}
          }
          else if (id.includes('095')) {
            return { background:'orange'}
          }
          else if (id.includes('085')) {
            return { background:'aqua'}
          }
          else if (id.includes('065')) {
            return { background:'grey'}
          }

        },
        deleteStudent: function(mem) {
          if (this.deleteMode){
            //this.studentRemove()
            console.log(mem);
          }
          else{
            console.log('not');
          }
        },
        deleteSet: function() {
          if (this.deleteMode == true ){
            this.deleteMode = false
          }
          else{
            this.deleteMode = true
            this.refreshTeams()
          }
          console.log(this.deleteMode);
        },
        refreshTeams : function() {

          $.ajax({
              type : 'POST',
              url : '/refreshTeams'
          })
		      .done(function(data) {
            vue.teamOBJ = JSON.parse(data.teamString)
		      })
          .fail(function(){
                alert('error has occurred');
          });
        },
        refreshAttend : function() {
          $.ajax({
              type : 'POST',
              url : '/refreshAttend'
          })
		      .done(function(data) {
            vue.attendOBJ = JSON.parse(data.attString)
            console.log(vue.attendOBJ);
		      })
          .fail(function(){
                alert('error has occurred');
          });
        },
        studentRemove: function(member, part) {
          $.ajax({
              data : {
                name : member,
                part : part
              },
              type : 'POST',
              url : '/studentRemove'

          })
		      .done(function(data) {
            vue.refreshTeams()
            alert('student removed: ' + member + part)
		      })
          .fail(function(){
                alert('error has occurred');
          });
        },
        studentAdd: function(id) {
          if (id == 'model') {
            id = this.addID
          }
          _this = this
          console.log('student add', id)
          $.ajax({
              data : {
                id : id
              },
              type : 'POST',
              url : '/studentAdd'
          })
		      .done(function(data) {
            console.log(data)
            _this.marks = JSON.parse(data.marks)
            console.log(_this.marks)
		      })
          .fail(function(){
                alert('error has occurred');
          });
        },
        getMark: function (id) {
          console.log(this.marks[id])
          if (this.marks[id] == 0) {
            return this.marks[id]
          } else if (this.marks[id] == 1) {
            return this.marks[id]
          } else if (this.marks[id] == 2) {
            return this.marks[id]
          } else {
            return 'Not Listed'
          }
        },
        getStyle: function (id) {
          console.log(this.marks[id])
          if (this.marks[id] == 1) {
            return 'background:coral'
          } else if (this.marks[id] == 2) {
            return 'background:seagreen'
          }
        },
      },
      computed : {
      deleteClass: function() {
          if (this.deleteMode == true ){
            return 'btn btn-sm btn-danger'
          }
          else{
            return 'btn btn-sm btn-secondary'
          }
        },
    }

})// end NEW VUE



}// endFunction

</script>


{% endblock %}

