{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1> Course Schedule</h1>
</div>

<div class="content-section">


{% for source in course %}  
{% if source.week < 10 %}  
{% else %}
<div style="overflow-x:auto;">


    <table class="table table-sm">
      <thead>
          <tr>
            <th scope="col" style="width:">Week {{source.week}} - {{source.date.strftime('%B %d')}}</th>
          </tr>
      </thead>
      <thead>
          <tr>
            <th scope="col" style="width:">Unit {{source.unit}}: {{source.topic}} </th>
          </tr>
      </thead>
            
      <tbody>
        <tr>
            <td> <font color="{{titleColor}}">Goals:</font> </td>      
        </tr>
        <tr>
            <td> {{source.goalOne}} </td>      
        </tr>
        <tr>
            <td> {{source.goalTwo}} </td>      
        </tr>
        <tr>
            <td> <font color="{{titleColor}}">Activity:</font> {{source.activity}} </td>  
        </tr>
        <tr>
            <td> <font color="{{titleColor}}">Resources: {% if source.linkOne == '-'%} - {% else %} <a href="{{source.linkOne}}">DownLoad/Print</a> {% endif %} </font></td>  
        </tr>

      </tbody>
    </table> 

<br>
{% endif %}


{% endfor %}
      
</div>      


{% endblock %}


{% block script %}   
  
{% endblock %} 