{% extends "layout.html" %}

{% block content %}


<div id="vue-app">


<div class="content-section" v-for="(week, key ) in course">

    <template v-for="(val, name) in week">

    <div v-bind:style="style(name, val)">

        <span v-if="val[0] == '-'" style=""> </span>
        <span v-else-if=" val.length > 55  " style="">  [[ name ]]: <a :href="val" target="_blank"> Link </a> </span>
        <span v-else style="">  [[ name ]]: [[ val ]] </span>

    </div>

    </template>
    <br>

</div>


</div> <!-- end of Vue app -->

<span id="course" style="display:none"> {{course}} </span>
<span id="color" style="display:none"> {{color}} </span>

{% endblock %}




{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript">

let colorSTR = document.getElementById('color').innerHTML
let color =  JSON.parse(colorSTR)
let courseSTR = document.getElementById('course').innerHTML
let course =  JSON.parse(courseSTR)
let date = new Date().toJSON().slice(0,10)
console.log(typeof(date));

let app =  new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    data: {
        course: course,
        https : 'https',
        date : date
    },
    methods: {
        style: function(name, val){

            let styles = {
                Date : this.dateStyle(name, val),
                G1 : { fontSize : '15px'},
                G2 : { fontSize : '15px'},
                Unit : { fontSize : '20px', fontWeight: 'bold'},
                Week : { fontSize : '30px', fontWeight: 'bold'},
                Title : { color : color['titleColor'], fontSize : '20px' }
            }
            return styles[name]
        },
        dateStyle : function(name, val){
            if (name == 'Date'){
                if (val == this.date){
                    return { fontSize : '20px', background : 'lightpink'}
                }
                else {
                    return { fontSize : '20px'}
                }
            }
        },
    }
})

</script>

{% endblock %}