{% extends "layout.html" %}

{% block content %}

<div class="content-section">    
    <h1> Dashboard </h1>
    <audio controls autoplay id="instructorPlayer"></audio>      
</div> 

<div class="content-section">
<div class="btn-toolbar btn-group-toggle ">        
        
        {% for item in ansDict %}
        <button class="btn  btn-xs mr-2" type="button" data-toggle="collapse" data-target="#{{item}}" 
        aria-expanded="false" aria-controls="collapseExample">
            A {{item}}: {{ansDict[item][2]}}
        </button>
        {% endfor %}
       
</div> 
</div>

<div class="content-section">  

    <div style="overflow-x:auto;">
    <table class="table table-sm" style="table-layout: width: 100%">
        <thead>
            <tr>
              <th scope="col">User</th>              
              <th scope="col">A1</th>            
              <th scope="col">A2</th>
              <th scope="col">Notes</th> 
              <th scope="col">TextOne</th>
              <th scope="col">TextTwo</th>
              <th scope="col">Grade</th> 
              <th scope="col">Comments</th>
              <th scope="col">Edit</th>                
            </tr>
        </thead>         
        
        
        {% for item in ansDict %}     
        {% if item | int < 5 %}
        {% else %}
        <tbody class="collapse" id="{{item}}"> 
            <tr> 
                <th> <h4>A{{item}}</h4> </th>
            </tr> 
                {% for answer in ansDict[item][1] %}
            <tr>              
              <td scope="row" style="width: 10px;"> <a href="../admin/ass{{item}}/edit/?id={{answer.id}}",  target="_blank">{{answer.username}} </a></td> 
              {% if answer.LengthOne == 888 %}  <td style="width: 20px;"><a href="{{answer.AudioDataOne}}", target="_blank">Link</a></td>              
              {% else %} <td style="width: 10px;"><button class="btn btn-outline-dark btn-xs" onclick='playAudio(this)' value="{{answer.AudioDataOne}}">{{answer.LengthOne}}</button></td>
              {% endif %} 
              {% if answer.LengthTwo == 888 %}  <td style="width: 20px;"><a href="{{answer.AudioDataTwo}}" target="_blank">Link</a></td>              
              {% else %} <td style="width: 10px;"><button class="btn btn-outline-dark btn-xs" onclick='playAudio(this)' value="{{answer.AudioDataTwo}}">{{answer.LengthTwo}}</button></td>
              {% endif %}          
              <td style="width: 50px; word-wrap: break-word">{{answer.Notes}}</td>
              <td style="width: 50px; word-wrap: break-word">{{answer.TextOne}}</td>
              <td style="width: 50px; word-wrap: break-word">{{answer.TextTwo}}</td>
              <td style="width: 10px;">{{answer.Grade}}</td>
              
    <td style="width: 200px;">
        <form class="form-openSet" method="post" action="javascript:;" onsubmit="commentSet('{{item}}','{{answer.username}}')">  

	    <div class="form-group">
            <input type="text" id="input{{item}}{{answer.username}}" name="comment{{item}}{{answer.username}}" class="form-control" placeholder="{{answer.Comment}}" required>        
        </div>
    </td>

     <td style="width: 20px;">
     {% if answer.Comment == 'Completed on time - Great!'%}        
        <button class="btn btn-sm btn-danger" type="submit">{{grades[answer.username]}}</button>
	{% else %}        
        <button class="btn btn-sm btn-success" type="submit">{{grades[answer.username]}}</button>
	{% endif %} 
    </form>
     

     </td>
            
    </tr>  
     {% endfor %}
     {% endif %}
    {% endfor %}
            
                              
               
    </tbody>
        
    </table>
    </div>
        
        
</div>


{% endblock %}   

{% block script %}
<script type="text/javascript">

let InstructorListen = document.getElementById('instructorPlayer')

function playAudio(current) {
    InstructorListen.src = current.value    
}

function commentSet(ass, name) {
		
        varURL = '/commentSet/' + ass + '/' + name 
        
		$.ajax({
			data : {
				comment : $('#input' + ass + name).val()
			},
			type : 'POST',
            url : varURL           
           
		})
		.done(function(data) {           
            alert(data.comment)   
		});
    }
</script>
{% endblock %}