{% extends "layout.html" %}

{% block content %}

<span id="ansString" style="display:none">{{ansString}}</span>

<div id="vue-app">

<div class="content-section">    
    <h1> Dashboard </h1>
    <audio controls autoplay id="instructorPlayer"></audio>      
</div>
   
    
    <div style="overflow-x:auto;">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >Edit</th>   
              <th scope="col" >A1</th>
              <th scope="col" >A2</th>                       
              <th scope="col" >Notes</th>                       
              <th scope="col" >T1</th>                       
              <th scope="col" >T2</th>                       
              <th scope="col" >G</th>                       
              <th scope="col" >Comments</th>                       
              <th scope="col" >Update</th>                       
            </tr>
        </thead> 
        
        <tbody>
        <template v-for="(userList, user) in ansOBJ" > 
          <tr style="background:wheat">
              <td style="font-weight:14pt" colspan=9> [[  user ]] </td>          
                      
          </tr>

            <template v-for="(item, key) in ansOBJ[user]">
              <tr v-if="item.idNum">
                <td > <button @click="edit(item.idNum, key)"> [[  key ]] </button> </td>               
                <td> <button @click="play(item.A1)"> [[  item.L1  ]] </button> </td>
                <td> <button @click="play(item.A2)"> [[  item.L2  ]] </button> </td>                       
                <td style="width: 50px; word-wrap: break-word"> <div v-if="item.Notes" class="noScrollBar" style="overflow:scroll;width:210px;height:110px">[[  item.Notes ]] </div></td>
                <td style="width: 50px; word-wrap: break-word"><div class="noScrollBar" style="overflow:scroll;width:210px;height:110px">[[  item.T1  ]] </div></td>
                <td style="width: 50px; word-wrap: break-word"><div  class="noScrollBar" style="overflow:scroll;width:210px;height:110px">[[  item.T2  ]] </div></td>              
                <td> [[  item.G  ]] </td>                
                <td> <textarea type="text" :style="commentStyle(item.C)" :id="user+key" v-model="item.C" required> </textarea></td>                
                <td> <button @click="commentSet(user,key)"> Update </button> </td>                
              </tr> 
            </template> 

            
         </template>     
            
        </tbody>   
   
      </table>
    </div>

</div>   
   

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var ansString = document.getElementById('ansString').innerHTML
var OBJ = JSON.parse(ansString)
console.log('unitOBJ', OBJ);


startVue()

function startVue(){ 
  
  let vue = new Vue({   

    el: '#vue-app',
    delimiters: ['[[', ']]'],

    data: {
        ansOBJ: OBJ,            
                            
    }, 
    methods: {
        headStyle: function(){           
                    
        },       
        play: function(audio){
          document.getElementById('instructorPlayer').src = audio   
        },
        edit: function(key, unit){
          let url = (window.location.href).split('dashboard')[0] + 'admin/' + 'a' + unit + 'a/edit/?id=' + key

          console.log('goTO', url);
          // go to new tab...........
          window.location = url                
        }, 
        commentStyle: function(comment){
          console.log(comment);
          if(comment.includes("on time")){
            return {width:'100%', 'background-color':'pink', height: '30px !important'}
          }
          else if(comment.includes("check..")){
            return {width:'100%', 'background-color':'thistle', height: '30px !important'}
          }
          else if(comment.includes("progress")){
            return {width:'100%', 'background-color':'orange', height: '30px !important'}
          }
          else if(comment.includes("completed late")){
            return {width:'100%', 'background-color':'yellow', height: '110px !important'}
          }
          else{
            return {width:'100%', 'background-color':'lightgreen', height: '110px !important'}
          }

          console.log('goTO', url);
          // go to new tab...........
          window.location = url                
        }, 
        commentSet: function(user, unit){ 
          var comment = document.getElementById(user+unit).value
          console.log(user, unit);
          $.ajax({
          data : {
              comment : comment,            
              user : user,            
              unit : unit,            
          },
          type : 'POST',
          url : '/commentSet'                   
          })
          .done(function(data) {
           alert(data.comment);
            
          })
          .fail(function(){
            alert('Failed, check server')
          });            
                  
        }      
                  
    }         
})// end NEW VUE



}// endFunction 

</script>  

{% endblock %} 

