{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1> Exam Practice </h1>
</div>

<div class="content-section">

<h4> Exam practice is not graded. </h4>
<h5> It is your chance to practice vocab and grammar and check your grade </h5>


{% for i in range(displayDict|length) %} 
<br>  
<h4> <a href="{{displayDict[i+1][0]}}" target="__blank">Review {{i+1}}</a></h4>
Tries: {{displayDict[i+1][1]}}
<br>
{% endfor %}

</div>

{% if COLOR_SCHEMA == '1' %}
<div class="content-section">

<h4> Bonus quizzes can improve your final score </h4>
<br> 
<h4> <a href="https://forms.gle/MEgEkKbPFhkvRUBVA" target="__blank">Bonus U05 - U06 </a> </h4>

</div>

{% endif %}



      

{% endblock %}


{% block script %}   
  
{% endblock %} 