{% extends "layout.html" %}

{% block content %}

<div id="vue-app">



<div class="content-section">
     <legend class="border-bottom mb-4">Grades</legend>
     <button class="btn btn-outline-secondary" @click="gotoAdmin('exams')">Exams</button>
     <button class="btn btn-outline-secondary" @click="exdata += 1">Data</button>
     <button class="btn btn-outline-secondary" @click="gList != gList">List</button>
     <button class="btn btn-outline-secondary" @click="resetAll()">Reset all</button>
     <button class="btn btn-outline-secondary" @click="goTo('participation_check')">Participation Check</button>



    <br>
    <br>
    <div style="overflow-x:auto;width:80%">
      <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" >Status</th>
              <th scope="col" >Name</th>
              <th scope="col" >ID</th>
              <th scope="col" >Total</th>
              <th scope="col" >U</th>
              <th scope="col" >%</th>
              <th scope="col" >A</th>
              <th scope="col" >%</th>
              <th scope="col" >T1</th>
              <th scope="col" >T2</th>
              <th scope="col" >E1</th>
              <th scope="col" >E2</th>
            </tr>
        </thead>

        <tbody>
        <template v-for="(user, key) in gradesOBJ">
            <tr>
              <td v-for="(data, head) in user" :style="gStyle(head, data)" @click="setStatus(head, key, data)"> [[ data ]] </td>
              <td :style="gStyle('p', 1)"> [[ compOBJ[key] ]] </td>
            </tr>

        </template>
        </tbody>

      </table>
    </div>

</div>

<span id="ansString" style="display:none">{{ansString}}</span>
<span id="compString" style="display:none">{{compString}}</span>
<span id="SCHEMA" style="display:none">{{SCHEMA}}</span>

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var ansString = document.getElementById('ansString').innerHTML
var compString = document.getElementById('compString').innerHTML
var schema = parseInt(document.getElementById('SCHEMA').innerHTML)
var gradesOBJ = JSON.parse(ansString)
var compOBJ = JSON.parse(compString)
console.log('OBJ', gradesOBJ);
console.log('COMP', compOBJ);


startVue()

function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){

    },
    data: {
        gradesOBJ: gradesOBJ,
        compOBJ: compOBJ,
        exdata: 0,
        schema: schema,
        gList: false
    },
    methods: {
        goTo: function(destination){

          var str = window.location.href

          let url = (str).split('grades')[0] + destination
          console.log('goTO', url);
          window.location = url

        },
        gotoAdmin: function (target) {
          schemaList = {
            1 : '_frd',
            2 : '_wpe',
            3 : '_icc',
            4 : '_png',
            5 : '_lnc',
            6 : '_vtm'
          }

          tag = schemaList[this.schema]

          let breaker = 'admin/'
          var str = window.location.href
          let url = ''
          console.log((str).split('grades_midterm')[0], str.includes('midterm'))
          if (str.includes('midterm')) {
            url = (str).split('grades_midterm')[0] + breaker + target + tag
          } else {
            url = (str).split('grades_final')[0] + breaker + target + tag
          }

          window.open(url, '_blank')
        },
        gStyle: function(head, g) {
          if (this.gList) {
            console.log(head[0])
            let remove = ['I', 'T']
            if (!remove.includes(head[0])) {
              return { display:'none'}
            }
          } else if (head == 'Status'){
            if (g == 1) {
            return { background:'mediumseagreen'}
            }
            else if (g == 2) {
            return { background:'orange'}
            }
            else if (g == 3) {
            return { background:'aqua'}
            }
            else if (g == 6) {
            return { background:'purple'}
            }
            else {
            return { background:'gold'}
            }
            }
          else if (head == 'MT'){
            return { background:'lightskyblue'}
          }
          else if (head == 'Total') {
            if (g < 60) {
              return { background:'lightpink'}
            }
          }
          else if (head == 'uP' || head == 'aP') {
            if (g == 30) {
              return { background:'lightgreen'}
            }
            else if (g > 20) {
              return { background:'yellow'}
            } else if (g < 5) {
              return { background:'lightcoral'}
            } else {
              return { background:'orange'}
            }
          }
          else if (head == 'units' || head == 'asses') {
            return { background:'lightgrey'}
          }
          else if (head[0] == 't') {
            if (g == 1 ) {
              return { background:'pink'}
            } if (g == 0 ) {
              return { background:'lightcoral'}
            } else {
              return { background:'hotpink'}
            }
          }
          else if (head[0] == 'p' || head[0] == 'r') {
            if (this.exdata == 0) {
              return { display:'none'}
            }
            else if (this.exdata > 1 && head[0] != 'r') {
              return { display:'none'}
            }
            // if (this.schema == 3 || this.schema == 6) {
              // if (g == [5, 20]) {
                // return { background:'green'}
              // }
            // } else if (g == [4, 16]) {
                // return { background:'green'}
            // }
          }
          else if (g == 0) {
            return { background:'lightcoral'}
          }
          else if (head == 'exam1' || head == 'exam2') {
            if (g >= 12) {
              return { color:'lightgreen' , background:'lightgreen'}
            } else if (g > 0 && g < 12) {
              return { color:'orange' , background:'orange'}
            }
          }
        },
        gListCreate: function () {
          for (let x in this.gradesOBJ) {
            let id = this.gradesOBJ[x]['ID']
            let total = this.gradesOBJ[x]['Total']
            this.gList.push(id + ' ' + total)
          }
          console.log(this.gList)
        },
        setStatus: function(head, key, value) {
          if (head == 'Status') {
            $.ajax({
              data : {
                username : key,
              },
              type : 'POST',
              url : '/setStatus',
            })
            .done(function(data) {
              gradesOBJ[key]['Status'] = data.set
            })
            .fail(function(){
                alert('error has occurred');
            });
          }
          if (head == 'exam1' || head == 'exam2') {
            $.ajax({
              data : {
                username : key,
                head: head
              },
              type : 'POST',
              url : '/resetExam',
            })
            .done(function(data) {
              alert('exam reset', key, value)
            })
            .fail(function(){
                alert('error has occurred');
            });
          }

        },
        resetAll: function() {
          if (true) {
            $.ajax({
              data : {
              },
              type : 'POST',
              url : '/resetAll',
            })
            .done(function(data) {
              alert(data)
              console.log(data)

            })
            .fail(function(){
                alert('error has occurred');
            });
          }

        },
    }

})// end NEW VUE



}// endFunction

</script>


{% endblock %}

