{% extends "layout.html" %}

{% block content %}

<div class="content-section">    
    <h1> Dashboard </h1>
    <audio controls autoplay id="instructorPlayer"></audio>      
</div> 

<div class="content-section">
<div class="btn-toolbar btn-group-toggle ">
        
        <button class="btn btn-success btn-xs mr-2" type="button" data-toggle="collapse" data-target="#preComment" 
            aria-expanded="false" aria-controls="collapseExample">
            PreComment               
        </button>
        <button class="btn btn-success btn-xs mr-2" type="button" data-toggle="collapse" data-target="#postComment" 
            aria-expanded="false" aria-controls="collapseExample">
            PostComment                
        </button>
        {% for i in range(ansRange) %}
        <button class="btn btn-success btn-xs mr-2" type="button">
            Ass{{i}}: {{assCount[i]}}                
        </button>
        {% endfor %}
       
</div> 
</div>

<div class="content-section">      

    <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col">User</th>              
              <th scope="col">A1</th>            
              <th scope="col">A2</th>
              <th scope="col">Notes</th> 
              <th scope="col">Link</th>
              <th scope="col">ThrSen</th>
              <th scope="col">Grade</th> 
              <th scope="col">Comments</th>
              <th scope="col">Edit</th>                
            </tr>
        </thead>
         
        <!-- ASSIGNMENT 13______________________________________________-->
        
              
        <tbody class="collapse" id=preComment>
                <tr> 
                    <th> <h4>Pre</h4> </th>
                </tr>  
            {% for answers in ansRange %}               
            {% for i in assRange %}            
                    {% if answers[i] %}                    
                    {% if answers[i].Comments == None %}
            <tr>              
              <th scope="row" style="width: 20px;"> <a href="">{{answers[i].name}} </a></th>              
              <td style="width: 20px;"><button class="btn btn-outline-dark btn-xs" onclick='playAudio(this)' value="{{answers[i].AudioDataOne}}">{{answers[i].LengthOne}}</button></td>
              <td style="width: 20px;"><button class="btn btn-outline-dark btn-xs" onclick='playAudio(this)' value="{{answers[i].AudioDataTwo}}">{{answers[i].LengthTwo}}</button></td>
              <td style="width: 250px;">{{answers[i].Notes}}</td>
              <td style="width: 30px;"><div style="width:80px; overflow:hidden;"><a href="{{answers[i].Link}}" target="_blank">{{answers[i].Link}}</a></div></td>
              <td style="width: 250px;">{{answers[i].ThrSen}}</td>
              <td style="width: 20px;">{{answers[i].Grade}}</td>
              <td style="width: 150px;">{{answers[i].Comments}}</td>
              <td style="width: 20px;"><a href="../admin/model{{i+13}}/edit/?id={{answers[i].id}}" target="_blank">{{answers[i]}}</a></td>
            </tr>
                    {% endif %}         
                    {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
        
        <tbody class="collapse" id=postComment>
            <tr> 
                    <th> <h4>Post</h4> </th>
            </tr>
            {% for answers in ansRange %} 
            {% for i in assRange %}
                    {% if answers[i] %}
                    {% if answers[i].Comments != None %}
            <tr>              
              <th scope="row" style="width: 20px;"> <a href="">{{answers[i].name}} </a></th>              
              <td style="width: 20px;"><button class="btn btn-outline-dark btn-xs" onclick='playAudio(this)' value="{{answers[i].AudioDataOne}}">{{answers[i].LengthOne}}</button></td>
              <td style="width: 20px;"><button class="btn btn-outline-dark btn-xs" onclick='playAudio(this)' value="{{answers[i].AudioDataTwo}}">{{answers[i].LengthTwo}}</button></td>
              <td style="width: 250px;">{{answers[i].Notes}}</td>
              <td style="width: 30px;"><div style="width:80px; overflow:hidden;"><a href="{{answers[i].Link}}" target="_blank">{{answers[i].Link}}</a></div></td>
              <td style="width: 250px;">{{answers[i].ThrSen}}</td>
              <td style="width: 20px;">{{answers[i].Grade}}</td>
              <td style="width: 150px;">{{answers[i].Comments}}</td>
              <td style="width: 20px;"><a href="../admin/model{{i+13}}/edit/?id={{answers[i].id}}" target="_blank">{{answers[i]}}</a></td>
            </tr>
                    {% endif %}         
                    {% endif %}
            {% endfor %} 
            {% endfor %}
        </tbody>
</div>


{% endblock %}   

{% block script %}
<script>

let InstructorListen = document.getElementById('instructorPlayer')

function playAudio(current) {
    InstructorListen.src = current.value    
}

</script>
{% endblock %}