{% extends "layout.html" %}

{% block content %}

<div class="content-section">
        <div class="col-12-xs">
          <h3>Bucket Info</h3>
          <p>Created: {{ my_bucket.creation_date }}</p>
          
          <hr>
    
          <form class="upload-form" action="{{ url_for('upload', assignment='home') }}" method="POST" enctype="multipart/form-data">
          <div class="input-container">
            <input type="file" id="real-input" name="file">
            <button class="browse-btn">
                Browse Files
            </button>
          <span class="file-info">Upload a file</span>
          </div>          
          
          
          <label class="">          
            <button type="submit" class="btn btn-primary">Upload</button>
          </label> 
          </form>
    
          <hr>
          <table class="table table-striped">
            <tr>
              <th>Filename</th>
              <th>Last Modified</th>
            </tr>
            {% for f in files %}
            <tr>
              <td>{{ f.key }}</td>
              <td>{{ f.last_modified }}</td>
              <td> <a href= "{{ location + f.key }}" > {{ f.key }} </a> </td>
            </tr>
            {% endfor %}
          </table>
    
        </div>
      </div>



{% endblock content %}

{% block script %}

<script>

const uploadButton = document.querySelector('.browse-btn');
const fileInfo = document.querySelector('.file-info');
const realInput = document.getElementById('real-input');

//click the fake button to activate real button
uploadButton.addEventListener('click', (e) => {
  realInput.click();
});

//take values from real button and tranfer to fake button
realInput.addEventListener('change', () => {
  uploadButton.innerHTML = realInput.value;
  //const name = realInput.value.split(/\\|\//).pop();
  //const truncated = name.length > 20 
    //? name.substr(name.length - 20) 
    //: name;
  //https://itnext.io/how-to-make-a-custom-file-upload-input-c39e3f981b06  
  
});

</script>
{% endblock %}



