{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1> Sources </h1>
</div>

   
      

{% for source in sources %} 


{% if source.unit | int  <  5 %}
{% else %}


{% if source.part | int  ==  1 %}
<h1> Unit: {{source.unit}} </h1>
{% else %}
{% endif %}
 <button class="btn  btn-xs mr-2" type="button" data-toggle="collapse" data-target="#{{source.unit}}{{source.part}}" 
        aria-expanded="false" aria-controls="collapseExample">
            Unit: {{source.unit}}{{source.part}}
        </button>

<section class="collapse" id="{{source.unit}}{{source.part}}">

<div class="content-section">

<legend class="border-bottom mb-4">{{source.unit}}-P{{ source.part }} ({{source.qnum}})</legend>
		<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#notes{{ source.unit }}{{ source.part }}">Notes</button>
		 <br>
		 <div class="collapse" id="notes{{ source.unit }}{{ source.part }}">
		 	<div class="embed-responsive embed-responsive-4by3">
		  		<iframe src="{{source.notes}}" 
		  			allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
		  		</iframe>
			</div>
	  	 </div>	   

<br>
         <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#part{{ source.unit }}{{ source.part }}">Part</button>
		 <br>
		 <div class="collapse" id="part{{ source.unit }}{{ source.part }}">
		 	<div class="embed-responsive embed-responsive-4by3">
		  		<iframe src="{{source.questions}}" 
		  			allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
		  		</iframe>
			</div>
	  	 </div>	

{% if source.part == '1' %} 
<br>
		<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#ass{{source.unit}}">Ass</button>
		 <br>
		 <div class="collapse" id="ass{{source.unit}}">
		 	<div class="embed-responsive embed-responsive-4by3">
		  		<iframe src="{{source.assSource}}" 
		  			allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
		  		</iframe>
			</div>
	  	 </div>	   

{% endif %}   
<br>

<form class="form-openSet" method="post" target="__blank" action="/openSet/{{source.unit}}/{{source.part}}">  

	<div class="form-group">
		<label for="inputName" class="sr-only">OpenSet</label>
    	<input type="text" id="input{{source.unit}}-P{{source.part}}" name="status{{source.unit}}{{source.part}}" class="form-control" placeholder="{{source.openSet}}" required>
	</div>
	{% if source.openSet == 1 %}        
        <button class="btn btn-sm btn-success" type="submit">Set</button>
	{% else  %}        
        <button class="btn btn-sm btn-danger" type="submit">Set</button>
	{% endif %}        
        

</form>
<br>
<a href="../admin/sources/edit/?id={{source.id}}" target="_blank"> Edit {{source.unit}}-{{ source.part }}</a>
</div>

</section> 

{% endif %}

{% endfor %}



{% endblock %}


{% block script %}   
  
{% endblock %} 