{% extends "layout.html" %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% block content %}

<div class="content-section">    
    <h1> Attendance List </h1>   
</div> 


<div class="content-section">      

    <table class="table table-sm" width="100">
        <thead>
            <tr>
              <th scope="col">Name</th>              
              <th scope="col">1</th>            
              <th scope="col">2</th>
              <th scope="col">3</th>   
              <th scope="col">4</th>                              
            </tr>
        </thead>
         
        <!-- Team Table______________________________________________-->
        
        {% if teamcount > 0 %}
        {% for item in attDict %}     
        <tbody> 
            <th style="height:50px;">{{item}} </th>
            
            {% for i in range (4) %}
                {% if attDict[item][i] %}
                    <td><button class="btn btn-sm btn-secondary" id="{{attDict[item][i].username}}" onclick="studentRemove('{{attDict[item][i].username}}')">{{attDict[item][i].username}}</button></td> 
                {% endif %}        
            {% endfor %}            
        </tbody>
        {% endfor %}

        {% else %}
        <!--- not sure what this section is for -->
        <tbody> 
            {% for item in attDict %} 
            <tr>
                <th style="height:50px;">{{item}} </th>
                <td>{{attDict[item][0]}}</td>
                    {% if attDict[item][1] == 0 %}  
                    <td></td>   
                    {% else %}
                    <td>{{attDict[item][1].strftime('%H %M')}}</td>            
                    {% endif %}
                    <td>........................</td>
                    <td>........................</td>  
            <tr>           
            {% endfor %}            
        </tbody>
        {% endif %}
     
        
</div>


{% endblock %}   

{% block script %}
<script>

function studentRemove(name) {

    alert(name)

    varURL = '/studentRemove/' + name 
        
		$.ajax({
			data : {
				name : name
			},
			type : 'POST',
            url : varURL           
           
		})
		.done(function(data) {           
            alert(data.lms + '-lms.herokuapp.com/admin/u' + data.unit + '1u/edit/?id=' + data.idNum)               
		});
    
}





</script>
{% endblock %}