{% extends "layout.html" %}

{% block content %}


<div class="container">

	<h2> Marquee Test</h2>

<div>

<iframe width="853" height="480" src="https://www.youtube.com/embed/IzRHKzzUHEs?list=PLur_sUvPELY70T8NveIVMqQWCKESfiP6u" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<marquee direction="scroll">A scrolling text created with HTML Marquee element and styled with CSS properties.</marquee>





{% endblock content %}




{% block script %}


{% endblock %}