{% extends "layout.html" %}

{% block content %}

<div class="content-section"> 
    <legend class="border-bottom mb-4">Attendance Set Up</legend>       
</div>


<div class="content-section">
    <form method="POST" action=""> 
            {{ form.hidden_tag () }}        
        <fieldset class="form-group">
        
        
        
            <div class="form-group"> 
                {{ form.username.label (class="form-control-label")}}</br>                    
                </div>
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}

            <div class="form-group"> 
                {{ form.studentID.label (class="form-control-label")}}</br>
                </div>
            {% if form.studentID.errors %}
                        {{ form.studentID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.studentID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.studentID(class="form-control form-control-lg") }}
                    {% endif %}

            <div class="form-group"> 
                {{ form.attend.label (class="form-control-label")}}</br>
                </div> 
            {% if form.attend.errors %}
                        {{ form.attend(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.attend.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.attend(class="form-control form-control-lg") }}
                    {% endif %}

            Current Status: {{status}}

            <div class="form-group"> 
                {{ form.teamnumber.label (class="form-control-label")}}</br>                                    
            
             {% if form.teamnumber.errors %}
                        {{ form.teamnumber(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamnumber.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamnumber(class="form-control form-control-lg") }}
                    {% endif %}                 
            </div> 
            
            <div class="form-group"> 
                {{ form.teamsize.label (class="form-control-label")}}</br>
                                 
            </div>  
             {% if form.teamsize.errors %}
                        {{ form.teamsize(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamsize.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamsize(class="form-control form-control-lg") }}
                    {% endif %}   

            <div class="form-group"> 
                {{ form.teamcount.label (class="form-control-label")}}</br>
                   </div> 
             {% if form.teamcount.errors %}
                        {{ form.teamcount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamcount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamcount(class="form-control form-control-lg") }}
                    {% endif %}   

            <div class="form-group"> 
                {{ form.unit.label (class="form-control-label")}}</br>
                 </div> 
            {% if form.unit.errors %}
                        {{ form.unit(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.unit.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.unit(class="form-control form-control-lg") }}
                    {% endif %}   


        </fieldset> 
        <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary")}}
        </div>
    </form>
</div>



{% endblock content %}