{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1> Homepage </h1>
</div>

{% if current_user.is_authenticated %}
<div class="content-section">
    <legend class="border-bottom mb-4">Performance</legend>
    
    <table class="table table-sm">
      <thead>
          <tr>
            <th scope="col" style="width: 3px;">Name</th>           
            <th scope="col" style="width: 3px;">Att</th>
            <th scope="col" style="width: 20px;">Units</th>      
            <th scope="col" style="width: 20px;">Assignments</th>                       
          </tr>
      </thead>
       
      <tbody>
          <tr>
            <td> {{current_user.username}}</td>   
            <td> <button id=color1  class="btn btn-dark btn-lg"  disabled value={{color1}}></button></td>            
            <td> <button id=color2  class="btn btn-dark btn-lg"  disabled value={{color2}}></button></td>
            <td> <button id=color3  class="btn btn-dark btn-lg"  disabled value={{color3}}></button></td>
          </tr>       
      </tbody>
    </table>      
</div>

    
<div class="content-section" style="display:none;overflow-x:auto;">
<legend class="border-bottom mb-4">Scores (may change over time)</legend>

<table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" style="width: 3px;">Class <br>Participation </th>
              <th scope="col" style="width: 3px;">Assignment <br> Tasks</th>  
              <th scope="col" style="width: 3px;">Exam (40%) </th> 
            </tr>
        </thead>
        <tbody>
            <tr>            
              <td> <h3> {{(color2 * 30) | int}}/30% </h3></td>   
              <td>  <h3> {{(color3 * 30) | int}}/30%</h3></td>  
              <td>  <h3> Tries:{{exam}} </h3></td>             
            </tr>  
            <tr>            
              <td> <a href="{{url_for('unit_list')}}"> Update/ Improve </a> </td>   
              <td> <a href="{{url_for('assignment_list')}}"> Update/ Improve </a> </td>  
              <td> <a href="{{url_for('exams')}}"> Practice Now </a> </td>            
            </tr>      
        </tbody>
</table> 


</div>



<div class="content-section">
    <legend class="border-bottom mb-4">Chat Box</legend>
    <br>
    <form method="POST" action=""> 
            {{ form.hidden_tag () }}        
        <fieldset class="form-group">  
                <div style="display:none">              
                    <div class="form-group"> 
                        {{ form.name.label (class="form-control-label")}}</br>                    
                        {{ form.name(class="form-control form-control-lg", id="name")}}                 
                    </div>            
                    <div class="form-group"> 
                        {{ form.response.label (class="form-control-label")}}</br>
                        {{ form.response(class="form-control form-control-lg")}}                     
                    </div>
                    <div>
                       <input id="lastChat" value="{{chat}}">   
                    </div>
                </div> 
                
                   
            {% for dialogue in dialogues %}            
                
                {% if dialogue.chat == "" %}
                </p>
                {% else %}            
                <img class="rounded-circle chat-img" src="{{image_file}}"> {{ name }}: {{dialogue.chat}}
                </p>
                {% endif %}
                
                {% if dialogue.response == "" %}
                </p>
                {% else %}
                <img class="rounded-circle chat-img" src="{{image_chris}}"> Chris: {{dialogue.response}}
                </p>
                {% endif %}             
            {% endfor %}
                <div id="newMessage">
                </p>                   
                <img class="rounded-circle chat-img" src="{{image_chris}}"> Chris: <text id="messText"></text>
                </p>
                </div>
     
        <br>
        <div > 
            <div class="form-group">                           
                {{ form.chat(class="form-control form-control-lg")}}                   
            </div> 
        </fieldset> 
        <div class="form-group">
                {{ form.submit(class="btn btn-secondary")}}
        </div>
        </div> 
    </form>
</div>
</div>
</div>

<div class="content-section">
    <legend class="border-bottom mb-4">Attendance History</legend>    
    <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" style="width: 3px;">Date</th>
              <th scope="col" style="width: 3px;">Time</th>           
              <th scope="col" style="width: 3px;">Att</th>
              <th scope="col" style="width: 20px;"></th>
            </tr>
        </thead>
        {% for log in attLog %}
        <tbody>
            <tr>
              <td> {{log.date_posted.strftime('%B %d')}}</td>   
              <td> {{log.date_posted.strftime('%H %M')}}</td>            
              <td> {{log.attend}}</td>
              <td> {{log.comments}}</td>
            </tr>       
        </tbody>
        {% endfor %}
      </table>     
</div>

{% else %}
<div class="content-section">
<legend class="border-bottom mb-4">Welcome</legend>
    <h1> Please <a href= "{{ url_for ('login') }}">Login</a> or <a href= "{{ url_for ('register') }}">Join</a> the course </h1>
</div>
{% endif %}


{% endblock content %}

{% block script %}

<script> 

    window.onload = $('#newMessage').hide();
    

    var myVar = setInterval(chatCheck, 60000);
    
    function chatCheck() {
		$.ajax({
			data : {
                chat : $('#lastChat').val()
			},
			type : 'POST',
            //url : '/chatCheck', 
           
		})
		.done(function(data) {            
            if (data.new) {                
                $('#newMessage').show();
                document.getElementById('messText').innerHTML = data.new
            }
		});
    }


for (i = 1; i < 4; i++) {
 
let button = document.getElementById('color'+i)
let color = document.getElementById('color'+i).value

if (color < .4) {
  button.style.background='#E74C3C'; 
} else if (color < .6 ) {
  button.style.background='#E59866'; 
} else if (color < .8 ) {
  button.style.background='#BB8FCE'; 
} else if (color < 1) {
  button.style.background='#17A589'; 
} else {
  button.style.background='#229954'; 
}
}


       
</script>

{% endblock %}  

    

