{% extends "layoutWriting.html" %}

{% block content %}

<span id="topics" style="display:none">{{topJS}}</span>
<span id="user" style="display:none">{{current_user.username}}</span>

<div id="vue-app">

<div class="list-section">
    <legend class="border-bottom mb-4">Topic List</legend>

    <table class="table table-sm" style="color:white">
        <thead>
            <tr>
              <th scope="col" style="">Topic</th>
              <th scope="col" style="">Writers/ <br> Deadline</th>
              <th scope="col" style="">Title/ <br> Progress</th>
            </tr>
        </thead>

    <div>

        <tbody>
            <template v-for="(topic, key) in topOBJ"  :key="key" >
            <tr>
              <td @click="goTo(key, topic['Stage'], topic['Set'])"> <span class="unit-span" :style="getColor(topic['Theme'])"> &emsp;&emsp;[[  key  ]]&emsp;&emsp; </span> </td>

              <td> <span v-if="topic['Theme']"> [[  topic['Writer']  ]] </span>  <span v-if="topic['Partner']">/  [[  topic['Partner']  ]] </span>  </td>
              <td> [[  topic['Title']  ]] </td>
            </tr>
            <tr>
              <td>  </td>
              <td> [[  topic['Deadline']  ]] </td>
              <td> <div :style="barStyle(topic['Theme'], topic['Stage'])"></div> [[  topic['Stage']  ]] </td>
              </tr>
            </template>
        </tbody>

    </div id="end vue for">
    </table>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript">
topJS = document.getElementById('topics').innerHTML
user = document.getElementById('user').innerHTML
topOBJ = JSON.parse(topJS)
console.log('topOBJ', topOBJ);

startVue(topOBJ)



function startVue(topOBJ){ new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    data: {
        topOBJ: topOBJ,
        user: user
    },
    methods: {
        getColor: function(theme){
            return  { color: theme }
        },
        barStyle: function(theme, stage){
            if (stage==5){
                return {background: theme, width : '90%', height : '15px', display : 'inline-block', border : '2px solid white' }
            }
            var stage_bar = {
                0 : '2%',
                1 : '20%',
                2 : '35%',
                3 : '55%',
                4 : '75%'
            }
            var width = stage_bar[stage]
            return {background: theme, width : width, height : '15px', display : 'inline-block' }
        },
        goTo: function(key, stage, set){
            if (stage == 0 && set > 1 && user != 'Chris') {
                alert('Students cannot start this project right now, contact your instructor')
                return false
            }
            window.location = (window.location.href).split('topic_list')[0] + 'work/topic/' + key
        }

    }


})// end NEW VUE

}

</script>
{% endblock %}